type=overlay

[title]
type=text
x=4
y=8
width=180
height=14
font=p12_full
shadowed=yes
text=Catapult Defence
colour=0xFFFF00

[hint]
type=text
x=4
y=24
width=180
height=11
font=p11_full
shadowed=yes
text=Match your defence to the missile.
colour=0xFF981F

[box]
type=layer
x=4
y=42
width=180
height=200

[stab]
layer=box
type=graphic
x=5
y=0
buttontype=select
width=72
height=36
script1op1=pushvar,wguild_catapult_style
script1=eq,1
graphic=combatboxes,0
activegraphic=combatboxes,1

[stab_icon]
layer=box
type=model
x=24
y=2
width=34
height=32
model=spot_wguild_catapult_spikyball
zoom=300
xan=100
yan=0

[stab_label]
layer=box
type=text
x=82
y=4
width=98
height=11
font=p11_full
shadowed=yes
text=Stab defence
colour=0xFFFF00

[stab_missile]
layer=box
type=text
x=82
y=17
width=98
height=11
font=p11_full
text=(Spiky ball)
colour=0xFFFF00

[crush]
layer=box
type=graphic
x=5
y=48
buttontype=select
width=72
height=36
script1op1=pushvar,wguild_catapult_style
script1=eq,2
graphic=combatboxes,0
activegraphic=combatboxes,1

[crush_icon]
layer=box
type=model
x=24
y=50
width=34
height=32
model=spot_wguild_catapult_anvil
zoom=300
xan=100
yan=0

[crush_label]
layer=box
type=text
x=82
y=52
width=98
height=11
font=p11_full
shadowed=yes
text=Crush defence
colour=0xFFFF00

[crush_missile]
layer=box
type=text
x=82
y=65
width=98
height=11
font=p11_full
text=(Anvil)
colour=0xFFFF00

[slash]
layer=box
type=graphic
x=5
y=96
buttontype=select
width=72
height=36
script1op1=pushvar,wguild_catapult_style
script1=eq,3
graphic=combatboxes,0
activegraphic=combatboxes,1

[slash_icon]
layer=box
type=model
x=24
y=98
width=34
height=32
model=spot_wguild_catapult_blades
zoom=300
xan=100
yan=0

[slash_label]
layer=box
type=text
x=82
y=100
width=98
height=11
font=p11_full
shadowed=yes
text=Slash defence
colour=0xFFFF00

[slash_missile]
layer=box
type=text
x=82
y=113
width=98
height=11
font=p11_full
text=(Slashing blades)
colour=0xFFFF00

[magic]
layer=box
type=graphic
x=5
y=144
buttontype=select
width=72
height=36
script1op1=pushvar,wguild_catapult_style
script1=eq,4
graphic=combatboxes,0
activegraphic=combatboxes,1

[magic_icon]
layer=box
type=model
x=24
y=146
width=34
height=32
model=spot_wguild_catapult_magic
zoom=300
xan=100
yan=0

[magic_label]
layer=box
type=text
x=82
y=148
width=98
height=11
font=p11_full
shadowed=yes
text=Magic defence
colour=0xFFFF00

[magic_missile]
layer=box
type=text
x=82
y=161
width=98
height=11
font=p11_full
text=(Magic missile)
colour=0xFFFF00
