// 474's combat_scythe tab (474 interface 86), ported by LostCityServer tools/models/portcombat474.py -
// regenerate it rather than editing by hand. Style buttons keep the content's names; the
// special attack energy bar is the content's own; auto_retaliate is 474's new button.
type=overlay

[name]
type=text
x=4
y=4
width=180
height=17
center=yes
font=q8_full
shadowed=yes
text=%1
colour=0xFF981F

[com_1]
type=layer
x=4
y=40
width=180
height=163

[scythe0]
type=graphic
layer=com_1
x=16
y=5
buttontype=select
script1op1=pushvar,com_mode
script1=eq,0
width=70
height=46
graphic=i474_653,0
activegraphic=i474_654,0
option=Reap

[scythe1]
type=graphic
layer=com_1
x=100
y=5
buttontype=select
script1op1=pushvar,com_mode
script1=eq,1
width=70
height=46
graphic=i474_653,0
activegraphic=i474_654,0
option=Chop

[scythe2]
type=graphic
layer=com_1
x=16
y=58
buttontype=select
script1op1=pushvar,com_mode
script1=eq,2
width=70
height=46
graphic=i474_653,0
activegraphic=i474_654,0
option=Jab

[scythe3]
type=graphic
layer=com_1
x=99
y=58
buttontype=select
script1op1=pushvar,com_mode
script1=eq,3
width=70
height=46
graphic=i474_653,0
activegraphic=i474_654,0
option=Block

[com_6]
type=graphic
layer=com_1
x=36
y=10
width=34
height=24
graphic=i474_272,0

[com_7]
type=graphic
layer=com_1
x=118
y=10
width=34
height=24
graphic=i474_262,0

[com_8]
type=graphic
layer=com_1
x=36
y=63
width=34
height=24
graphic=i474_271,0

[com_9]
type=graphic
layer=com_1
x=118
y=63
width=34
height=24
graphic=i474_261,0

[combat_level]
type=text
x=4
y=25
script1op1=op8
width=180
height=12
center=yes
font=p11_full
shadowed=yes
text=Combat Lvl: %1
colour=0xFF981F

[auto_retaliate]
type=graphic
x=21
y=152
buttontype=normal
script1op1=pushvar,option_nodef
script1=eq,0
width=150
height=46
graphic=i474_655,0
activegraphic=i474_656,0
option=Auto Retaliate

[com_12]
type=text
x=20
y=75
width=70
height=13
center=yes
font=p11_full
shadowed=yes
text=Reap
colour=0xFF981F

[com_13]
type=text
x=104
y=75
width=70
height=13
center=yes
font=p11_full
shadowed=yes
text=Chop
colour=0xFF981F

[com_14]
type=text
x=20
y=128
width=70
height=13
center=yes
font=p11_full
shadowed=yes
text=Jab
colour=0xFF981F

[com_15]
type=text
x=103
y=128
width=70
height=13
center=yes
font=p11_full
shadowed=yes
text=Block
colour=0xFF981F

[com_16]
type=text
x=57
y=161
script1op1=pushvar,option_nodef
script1=eq,0
width=112
height=15
center=yes
font=p12_full
shadowed=yes
text=Auto Retaliate 
colour=0xFF981F
activecolour=0xFF981F
activetext=Auto Retaliate 

[com_16_l1]
type=text
x=57
y=173
script1op1=pushvar,option_nodef
script1=eq,0
width=112
height=15
center=yes
font=p12_full
shadowed=yes
text=(Off)
colour=0xFF981F
activecolour=0xFF981F
activetext=(On)

[com_17]
type=8
x=20
y=45
width=70
height=46
text=(Accurate)\n(Slash)\n(Attack XP)

[com_18]
type=8
x=102
y=45
width=70
height=46
text=(Aggressive)\n(Stab)\n(Strength XP)

[com_19]
type=8
x=20
y=98
width=70
height=47
text=(Aggressive)\n(Crush)\n(Strength XP)

[com_20]
type=8
x=102
y=98
width=70
height=47
text=(Defensive)\n(Slash)\n(Defence XP)

[com_21]
type=8
x=22
y=153
width=150
height=46
text=When active your player\nwill automatically fight\nback if attacked
