[title]
type=text
x=8
y=5
width=496
height=16
center=yes
font=b12_full
shadowed=yes
text=Cooking Guide
colour=0xFF981F

[close]
type=text
x=430
y=8
buttontype=normal
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF
option=Close

[col_item]
type=text
x=49
y=32
width=200
height=14
font=p11_full
shadowed=yes
text=Item
colour=0xFFFFFF

[col_level]
type=text
x=256
y=32
width=50
height=14
center=yes
font=p11_full
shadowed=yes
text=Level
colour=0xFFFFFF

[col_xp]
type=text
x=311
y=32
width=80
height=14
font=p11_full
shadowed=yes
text=XP
colour=0xFFFFFF

[list]
type=layer
x=21
y=52
width=472
height=232
scroll=792

[r1_icon]
layer=list
type=model
x=4
y=0
width=20
height=20
model=com_i32
zoom=500
xan=200

[r1_name]
layer=list
type=text
x=28
y=3
width=200
height=16
font=p11_full
shadowed=yes
text=Cooked meat
colour=0xFFFFFF

[r1_level]
layer=list
type=text
x=235
y=3
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 1
colour=0x00FF00
activecolour=0xFF0000
script1=lt,1
script1op1=stat_base_level,cooking

[r1_xp]
layer=list
type=text
x=290
y=3
width=80
height=16
font=p11_full
shadowed=yes
text=300 xp
colour=0xFFFF00

[r2_icon]
layer=list
type=model
x=4
y=24
width=20
height=20
model=com_i32
zoom=500
xan=200

[r2_name]
layer=list
type=text
x=28
y=27
width=200
height=16
font=p11_full
shadowed=yes
text=Shrimp
colour=0xFFFFFF

[r2_level]
layer=list
type=text
x=235
y=27
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 1
colour=0x00FF00
activecolour=0xFF0000
script1=lt,1
script1op1=stat_base_level,cooking

[r2_xp]
layer=list
type=text
x=290
y=27
width=80
height=16
font=p11_full
shadowed=yes
text=300 xp
colour=0xFFFF00

[r3_icon]
layer=list
type=model
x=4
y=48
width=20
height=20
model=com_i32
zoom=500
xan=200

[r3_name]
layer=list
type=text
x=28
y=51
width=200
height=16
font=p11_full
shadowed=yes
text=Anchovies
colour=0xFFFFFF

[r3_level]
layer=list
type=text
x=235
y=51
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 1
colour=0x00FF00
activecolour=0xFF0000
script1=lt,1
script1op1=stat_base_level,cooking

[r3_xp]
layer=list
type=text
x=290
y=51
width=80
height=16
font=p11_full
shadowed=yes
text=300 xp
colour=0xFFFF00

[r4_icon]
layer=list
type=model
x=4
y=72
width=20
height=20
model=com_i32
zoom=500
xan=200

[r4_name]
layer=list
type=text
x=28
y=75
width=200
height=16
font=p11_full
shadowed=yes
text=Ugthanki meat
colour=0xFFFFFF

[r4_level]
layer=list
type=text
x=235
y=75
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 1
colour=0x00FF00
activecolour=0xFF0000
script1=lt,1
script1op1=stat_base_level,cooking

[r4_xp]
layer=list
type=text
x=290
y=75
width=80
height=16
font=p11_full
shadowed=yes
text=400 xp
colour=0xFFFF00

[r5_icon]
layer=list
type=model
x=4
y=96
width=20
height=20
model=com_i32
zoom=500
xan=200

[r5_name]
layer=list
type=text
x=28
y=99
width=200
height=16
font=p11_full
shadowed=yes
text=Cooked chicken
colour=0xFFFFFF

[r5_level]
layer=list
type=text
x=235
y=99
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 1
colour=0x00FF00
activecolour=0xFF0000
script1=lt,1
script1op1=stat_base_level,cooking

[r5_xp]
layer=list
type=text
x=290
y=99
width=80
height=16
font=p11_full
shadowed=yes
text=300 xp
colour=0xFFFF00

[r6_icon]
layer=list
type=model
x=4
y=120
width=20
height=20
model=com_i32
zoom=500
xan=200

[r6_name]
layer=list
type=text
x=28
y=123
width=200
height=16
font=p11_full
shadowed=yes
text=Bread
colour=0xFFFFFF

[r6_level]
layer=list
type=text
x=235
y=123
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 1
colour=0x00FF00
activecolour=0xFF0000
script1=lt,1
script1op1=stat_base_level,cooking

[r6_xp]
layer=list
type=text
x=290
y=123
width=80
height=16
font=p11_full
shadowed=yes
text=400 xp
colour=0xFFFF00

[r7_icon]
layer=list
type=model
x=4
y=144
width=20
height=20
model=com_i32
zoom=500
xan=200

[r7_name]
layer=list
type=text
x=28
y=147
width=200
height=16
font=p11_full
shadowed=yes
text=Soda ash
colour=0xFFFFFF

[r7_level]
layer=list
type=text
x=235
y=147
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 1
colour=0x00FF00
activecolour=0xFF0000
script1=lt,1
script1op1=stat_base_level,cooking

[r7_xp]
layer=list
type=text
x=290
y=147
width=80
height=16
font=p11_full
shadowed=yes
text=0 xp
colour=0xFFFF00

[r8_icon]
layer=list
type=model
x=4
y=168
width=20
height=20
model=com_i32
zoom=500
xan=200

[r8_name]
layer=list
type=text
x=28
y=171
width=200
height=16
font=p11_full
shadowed=yes
text=Swamp paste
colour=0xFFFFFF

[r8_level]
layer=list
type=text
x=235
y=171
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 1
colour=0x00FF00
activecolour=0xFF0000
script1=lt,1
script1op1=stat_base_level,cooking

[r8_xp]
layer=list
type=text
x=290
y=171
width=80
height=16
font=p11_full
shadowed=yes
text=20 xp
colour=0xFFFF00

[r9_icon]
layer=list
type=model
x=4
y=192
width=20
height=20
model=com_i32
zoom=500
xan=200

[r9_name]
layer=list
type=text
x=28
y=195
width=200
height=16
font=p11_full
shadowed=yes
text=Herring
colour=0xFFFFFF

[r9_level]
layer=list
type=text
x=235
y=195
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 5
colour=0x00FF00
activecolour=0xFF0000
script1=lt,5
script1op1=stat_base_level,cooking

[r9_xp]
layer=list
type=text
x=290
y=195
width=80
height=16
font=p11_full
shadowed=yes
text=500 xp
colour=0xFFFF00

[r10_icon]
layer=list
type=model
x=4
y=216
width=20
height=20
model=com_i32
zoom=500
xan=200

[r10_name]
layer=list
type=text
x=28
y=219
width=200
height=16
font=p11_full
shadowed=yes
text=Baked potato
colour=0xFFFFFF

[r10_level]
layer=list
type=text
x=235
y=219
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 7
colour=0x00FF00
activecolour=0xFF0000
script1=lt,7
script1op1=stat_base_level,cooking

[r10_xp]
layer=list
type=text
x=290
y=219
width=80
height=16
font=p11_full
shadowed=yes
text=150 xp
colour=0xFFFF00

[r11_icon]
layer=list
type=model
x=4
y=240
width=20
height=20
model=com_i32
zoom=500
xan=200

[r11_name]
layer=list
type=text
x=28
y=243
width=200
height=16
font=p11_full
shadowed=yes
text=Redberry pie
colour=0xFFFFFF

[r11_level]
layer=list
type=text
x=235
y=243
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 10
colour=0x00FF00
activecolour=0xFF0000
script1=lt,10
script1op1=stat_base_level,cooking

[r11_xp]
layer=list
type=text
x=290
y=243
width=80
height=16
font=p11_full
shadowed=yes
text=780 xp
colour=0xFFFF00

[r12_icon]
layer=list
type=model
x=4
y=264
width=20
height=20
model=com_i32
zoom=500
xan=200

[r12_name]
layer=list
type=text
x=28
y=267
width=200
height=16
font=p11_full
shadowed=yes
text=Mackerel
colour=0xFFFFFF

[r12_level]
layer=list
type=text
x=235
y=267
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 10
colour=0x00FF00
activecolour=0xFF0000
script1=lt,10
script1op1=stat_base_level,cooking

[r12_xp]
layer=list
type=text
x=290
y=267
width=80
height=16
font=p11_full
shadowed=yes
text=600 xp
colour=0xFFFF00

[r13_icon]
layer=list
type=model
x=4
y=288
width=20
height=20
model=com_i32
zoom=500
xan=200

[r13_name]
layer=list
type=text
x=28
y=291
width=200
height=16
font=p11_full
shadowed=yes
text=Giant carp
colour=0xFFFFFF

[r13_level]
layer=list
type=text
x=235
y=291
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 10
colour=0x00FF00
activecolour=0xFF0000
script1=lt,10
script1op1=stat_base_level,cooking

[r13_xp]
layer=list
type=text
x=290
y=291
width=80
height=16
font=p11_full
shadowed=yes
text=0 xp
colour=0xFFFF00

[r14_icon]
layer=list
type=model
x=4
y=312
width=20
height=20
model=com_i32
zoom=500
xan=200

[r14_name]
layer=list
type=text
x=28
y=315
width=200
height=16
font=p11_full
shadowed=yes
text=Trout
colour=0xFFFFFF

[r14_level]
layer=list
type=text
x=235
y=315
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 15
colour=0x00FF00
activecolour=0xFF0000
script1=lt,15
script1op1=stat_base_level,cooking

[r14_xp]
layer=list
type=text
x=290
y=315
width=80
height=16
font=p11_full
shadowed=yes
text=700 xp
colour=0xFFFF00

[r15_icon]
layer=list
type=model
x=4
y=336
width=20
height=20
model=com_i32
zoom=500
xan=200

[r15_name]
layer=list
type=text
x=28
y=339
width=200
height=16
font=p11_full
shadowed=yes
text=Cod
colour=0xFFFFFF

[r15_level]
layer=list
type=text
x=235
y=339
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 18
colour=0x00FF00
activecolour=0xFF0000
script1=lt,18
script1op1=stat_base_level,cooking

[r15_xp]
layer=list
type=text
x=290
y=339
width=80
height=16
font=p11_full
shadowed=yes
text=750 xp
colour=0xFFFF00

[r16_icon]
layer=list
type=model
x=4
y=360
width=20
height=20
model=com_i32
zoom=500
xan=200

[r16_name]
layer=list
type=text
x=28
y=363
width=200
height=16
font=p11_full
shadowed=yes
text=Meat pie
colour=0xFFFFFF

[r16_level]
layer=list
type=text
x=235
y=363
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 20
colour=0x00FF00
activecolour=0xFF0000
script1=lt,20
script1op1=stat_base_level,cooking

[r16_xp]
layer=list
type=text
x=290
y=363
width=80
height=16
font=p11_full
shadowed=yes
text=1100 xp
colour=0xFFFF00

[r17_icon]
layer=list
type=model
x=4
y=384
width=20
height=20
model=com_i32
zoom=500
xan=200

[r17_name]
layer=list
type=text
x=28
y=387
width=200
height=16
font=p11_full
shadowed=yes
text=Pike
colour=0xFFFFFF

[r17_level]
layer=list
type=text
x=235
y=387
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 20
colour=0x00FF00
activecolour=0xFF0000
script1=lt,20
script1op1=stat_base_level,cooking

[r17_xp]
layer=list
type=text
x=290
y=387
width=80
height=16
font=p11_full
shadowed=yes
text=800 xp
colour=0xFFFF00

[r18_icon]
layer=list
type=model
x=4
y=408
width=20
height=20
model=com_i32
zoom=500
xan=200

[r18_name]
layer=list
type=text
x=28
y=411
width=200
height=16
font=p11_full
shadowed=yes
text=Salmon
colour=0xFFFFFF

[r18_level]
layer=list
type=text
x=235
y=411
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 25
colour=0x00FF00
activecolour=0xFF0000
script1=lt,25
script1op1=stat_base_level,cooking

[r18_xp]
layer=list
type=text
x=290
y=411
width=80
height=16
font=p11_full
shadowed=yes
text=900 xp
colour=0xFFFF00

[r19_icon]
layer=list
type=model
x=4
y=432
width=20
height=20
model=com_i32
zoom=500
xan=200

[r19_name]
layer=list
type=text
x=28
y=435
width=200
height=16
font=p11_full
shadowed=yes
text=Stew
colour=0xFFFFFF

[r19_level]
layer=list
type=text
x=235
y=435
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 25
colour=0x00FF00
activecolour=0xFF0000
script1=lt,25
script1op1=stat_base_level,cooking

[r19_xp]
layer=list
type=text
x=290
y=435
width=80
height=16
font=p11_full
shadowed=yes
text=1170 xp
colour=0xFFFF00

[r20_icon]
layer=list
type=model
x=4
y=456
width=20
height=20
model=com_i32
zoom=500
xan=200

[r20_name]
layer=list
type=text
x=28
y=459
width=200
height=16
font=p11_full
shadowed=yes
text=Apple pie
colour=0xFFFFFF

[r20_level]
layer=list
type=text
x=235
y=459
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 30
colour=0x00FF00
activecolour=0xFF0000
script1=lt,30
script1op1=stat_base_level,cooking

[r20_xp]
layer=list
type=text
x=290
y=459
width=80
height=16
font=p11_full
shadowed=yes
text=1300 xp
colour=0xFFFF00

[r21_icon]
layer=list
type=model
x=4
y=480
width=20
height=20
model=com_i32
zoom=500
xan=200

[r21_name]
layer=list
type=text
x=28
y=483
width=200
height=16
font=p11_full
shadowed=yes
text=Tuna
colour=0xFFFFFF

[r21_level]
layer=list
type=text
x=235
y=483
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 30
colour=0x00FF00
activecolour=0xFF0000
script1=lt,30
script1op1=stat_base_level,cooking

[r21_xp]
layer=list
type=text
x=290
y=483
width=80
height=16
font=p11_full
shadowed=yes
text=1000 xp
colour=0xFFFF00

[r22_icon]
layer=list
type=model
x=4
y=504
width=20
height=20
model=com_i32
zoom=500
xan=200

[r22_name]
layer=list
type=text
x=28
y=507
width=200
height=16
font=p11_full
shadowed=yes
text=Plain pizza
colour=0xFFFFFF

[r22_level]
layer=list
type=text
x=235
y=507
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 35
colour=0x00FF00
activecolour=0xFF0000
script1=lt,35
script1op1=stat_base_level,cooking

[r22_xp]
layer=list
type=text
x=290
y=507
width=80
height=16
font=p11_full
shadowed=yes
text=1430 xp
colour=0xFFFF00

[r23_icon]
layer=list
type=model
x=4
y=528
width=20
height=20
model=com_i32
zoom=500
xan=200

[r23_name]
layer=list
type=text
x=28
y=531
width=200
height=16
font=p11_full
shadowed=yes
text=Cake
colour=0xFFFFFF

[r23_level]
layer=list
type=text
x=235
y=531
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 40
colour=0x00FF00
activecolour=0xFF0000
script1=lt,40
script1op1=stat_base_level,cooking

[r23_xp]
layer=list
type=text
x=290
y=531
width=80
height=16
font=p11_full
shadowed=yes
text=1800 xp
colour=0xFFFF00

[r24_icon]
layer=list
type=model
x=4
y=552
width=20
height=20
model=com_i32
zoom=500
xan=200

[r24_name]
layer=list
type=text
x=28
y=555
width=200
height=16
font=p11_full
shadowed=yes
text=Lobster
colour=0xFFFFFF

[r24_level]
layer=list
type=text
x=235
y=555
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 40
colour=0x00FF00
activecolour=0xFF0000
script1=lt,40
script1op1=stat_base_level,cooking

[r24_xp]
layer=list
type=text
x=290
y=555
width=80
height=16
font=p11_full
shadowed=yes
text=1200 xp
colour=0xFFFF00

[r25_icon]
layer=list
type=model
x=4
y=576
width=20
height=20
model=com_i32
zoom=500
xan=200

[r25_name]
layer=list
type=text
x=28
y=579
width=200
height=16
font=p11_full
shadowed=yes
text=Bass
colour=0xFFFFFF

[r25_level]
layer=list
type=text
x=235
y=579
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 43
colour=0x00FF00
activecolour=0xFF0000
script1=lt,43
script1op1=stat_base_level,cooking

[r25_xp]
layer=list
type=text
x=290
y=579
width=80
height=16
font=p11_full
shadowed=yes
text=1300 xp
colour=0xFFFF00

[r26_icon]
layer=list
type=model
x=4
y=600
width=20
height=20
model=com_i32
zoom=500
xan=200

[r26_name]
layer=list
type=text
x=28
y=603
width=200
height=16
font=p11_full
shadowed=yes
text=Swordfish
colour=0xFFFFFF

[r26_level]
layer=list
type=text
x=235
y=603
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 45
colour=0x00FF00
activecolour=0xFF0000
script1=lt,45
script1op1=stat_base_level,cooking

[r26_xp]
layer=list
type=text
x=290
y=603
width=80
height=16
font=p11_full
shadowed=yes
text=1400 xp
colour=0xFFFF00

[r27_icon]
layer=list
type=model
x=4
y=624
width=20
height=20
model=com_i32
zoom=500
xan=200

[r27_name]
layer=list
type=text
x=28
y=627
width=200
height=16
font=p11_full
shadowed=yes
text=Cooked oomlie wrap
colour=0xFFFFFF

[r27_level]
layer=list
type=text
x=235
y=627
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 50
colour=0x00FF00
activecolour=0xFF0000
script1=lt,50
script1op1=stat_base_level,cooking

[r27_xp]
layer=list
type=text
x=290
y=627
width=80
height=16
font=p11_full
shadowed=yes
text=300 xp
colour=0xFFFF00

[r28_icon]
layer=list
type=model
x=4
y=648
width=20
height=20
model=com_i32
zoom=500
xan=200

[r28_name]
layer=list
type=text
x=28
y=651
width=200
height=16
font=p11_full
shadowed=yes
text=Lava eel
colour=0xFFFFFF

[r28_level]
layer=list
type=text
x=235
y=651
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 53
colour=0x00FF00
activecolour=0xFF0000
script1=lt,53
script1op1=stat_base_level,cooking

[r28_xp]
layer=list
type=text
x=290
y=651
width=80
height=16
font=p11_full
shadowed=yes
text=1400 xp
colour=0xFFFF00

[r29_icon]
layer=list
type=model
x=4
y=672
width=20
height=20
model=com_i32
zoom=500
xan=200

[r29_name]
layer=list
type=text
x=28
y=675
width=200
height=16
font=p11_full
shadowed=yes
text=Pitta bread
colour=0xFFFFFF

[r29_level]
layer=list
type=text
x=235
y=675
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 58
colour=0x00FF00
activecolour=0xFF0000
script1=lt,58
script1op1=stat_base_level,cooking

[r29_xp]
layer=list
type=text
x=290
y=675
width=80
height=16
font=p11_full
shadowed=yes
text=400 xp
colour=0xFFFF00

[r30_icon]
layer=list
type=model
x=4
y=696
width=20
height=20
model=com_i32
zoom=500
xan=200

[r30_name]
layer=list
type=text
x=28
y=699
width=200
height=16
font=p11_full
shadowed=yes
text=Curry
colour=0xFFFFFF

[r30_level]
layer=list
type=text
x=235
y=699
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 60
colour=0x00FF00
activecolour=0xFF0000
script1=lt,60
script1op1=stat_base_level,cooking

[r30_xp]
layer=list
type=text
x=290
y=699
width=80
height=16
font=p11_full
shadowed=yes
text=2800 xp
colour=0xFFFF00

[r31_icon]
layer=list
type=model
x=4
y=720
width=20
height=20
model=com_i32
zoom=500
xan=200

[r31_name]
layer=list
type=text
x=28
y=723
width=200
height=16
font=p11_full
shadowed=yes
text=Shark
colour=0xFFFFFF

[r31_level]
layer=list
type=text
x=235
y=723
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 80
colour=0x00FF00
activecolour=0xFF0000
script1=lt,80
script1op1=stat_base_level,cooking

[r31_xp]
layer=list
type=text
x=290
y=723
width=80
height=16
font=p11_full
shadowed=yes
text=2100 xp
colour=0xFFFF00

[r32_icon]
layer=list
type=model
x=4
y=744
width=20
height=20
model=com_i32
zoom=500
xan=200

[r32_name]
layer=list
type=text
x=28
y=747
width=200
height=16
font=p11_full
shadowed=yes
text=Sea turtle
colour=0xFFFFFF

[r32_level]
layer=list
type=text
x=235
y=747
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 82
colour=0x00FF00
activecolour=0xFF0000
script1=lt,82
script1op1=stat_base_level,cooking

[r32_xp]
layer=list
type=text
x=290
y=747
width=80
height=16
font=p11_full
shadowed=yes
text=2113 xp
colour=0xFFFF00

[r33_icon]
layer=list
type=model
x=4
y=768
width=20
height=20
model=com_i32
zoom=500
xan=200

[r33_name]
layer=list
type=text
x=28
y=771
width=200
height=16
font=p11_full
shadowed=yes
text=Manta ray
colour=0xFFFFFF

[r33_level]
layer=list
type=text
x=235
y=771
width=50
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 91
colour=0x00FF00
activecolour=0xFF0000
script1=lt,91
script1op1=stat_base_level,cooking

[r33_xp]
layer=list
type=text
x=290
y=771
width=80
height=16
font=p11_full
shadowed=yes
text=2163 xp
colour=0xFFFF00
