[backdrop]
type=rect
x=0
y=0
width=512
height=334
fill=yes
colour=0x000000

[title]
type=text
x=8
y=5
width=496
height=16
center=yes
font=b12_full
shadowed=yes
text=Cooking Guide
colour=0xFF981F

[close]
type=text
x=430
y=8
buttontype=normal
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF
option=Close

[col_item]
type=text
x=51
y=32
width=250
height=14
font=p11_full
shadowed=yes
text=Item
colour=0xFFFFFF

[col_level]
type=text
x=321
y=32
width=60
height=14
center=yes
font=p11_full
shadowed=yes
text=Level
colour=0xFFFFFF

[list]
type=layer
x=21
y=52
width=472
height=232
scroll=792

[r1_icon]
layer=list
type=model
x=4
y=1
width=22
height=22
model=com_i32
zoom=500
xan=200

[r1_name]
layer=list
type=text
x=30
y=4
width=250
height=16
font=p11_full
shadowed=yes
text=Cooked meat
colour=0xFFFFFF

[r1_level]
layer=list
type=text
x=300
y=4
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 1
colour=0x00FF00
activecolour=0xFF0000
script1=lt,1
script1op1=stat_base_level,cooking

[r2_icon]
layer=list
type=model
x=4
y=25
width=22
height=22
model=com_i32
zoom=500
xan=200

[r2_name]
layer=list
type=text
x=30
y=28
width=250
height=16
font=p11_full
shadowed=yes
text=Shrimp
colour=0xFFFFFF

[r2_level]
layer=list
type=text
x=300
y=28
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 1
colour=0x00FF00
activecolour=0xFF0000
script1=lt,1
script1op1=stat_base_level,cooking

[r3_icon]
layer=list
type=model
x=4
y=49
width=22
height=22
model=com_i32
zoom=500
xan=200

[r3_name]
layer=list
type=text
x=30
y=52
width=250
height=16
font=p11_full
shadowed=yes
text=Anchovies
colour=0xFFFFFF

[r3_level]
layer=list
type=text
x=300
y=52
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 1
colour=0x00FF00
activecolour=0xFF0000
script1=lt,1
script1op1=stat_base_level,cooking

[r4_icon]
layer=list
type=model
x=4
y=73
width=22
height=22
model=com_i32
zoom=500
xan=200

[r4_name]
layer=list
type=text
x=30
y=76
width=250
height=16
font=p11_full
shadowed=yes
text=Ugthanki meat
colour=0xFFFFFF

[r4_level]
layer=list
type=text
x=300
y=76
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 1
colour=0x00FF00
activecolour=0xFF0000
script1=lt,1
script1op1=stat_base_level,cooking

[r5_icon]
layer=list
type=model
x=4
y=97
width=22
height=22
model=com_i32
zoom=500
xan=200

[r5_name]
layer=list
type=text
x=30
y=100
width=250
height=16
font=p11_full
shadowed=yes
text=Cooked chicken
colour=0xFFFFFF

[r5_level]
layer=list
type=text
x=300
y=100
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 1
colour=0x00FF00
activecolour=0xFF0000
script1=lt,1
script1op1=stat_base_level,cooking

[r6_icon]
layer=list
type=model
x=4
y=121
width=22
height=22
model=com_i32
zoom=500
xan=200

[r6_name]
layer=list
type=text
x=30
y=124
width=250
height=16
font=p11_full
shadowed=yes
text=Bread
colour=0xFFFFFF

[r6_level]
layer=list
type=text
x=300
y=124
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 1
colour=0x00FF00
activecolour=0xFF0000
script1=lt,1
script1op1=stat_base_level,cooking

[r7_icon]
layer=list
type=model
x=4
y=145
width=22
height=22
model=com_i32
zoom=500
xan=200

[r7_name]
layer=list
type=text
x=30
y=148
width=250
height=16
font=p11_full
shadowed=yes
text=Soda ash
colour=0xFFFFFF

[r7_level]
layer=list
type=text
x=300
y=148
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 1
colour=0x00FF00
activecolour=0xFF0000
script1=lt,1
script1op1=stat_base_level,cooking

[r8_icon]
layer=list
type=model
x=4
y=169
width=22
height=22
model=com_i32
zoom=500
xan=200

[r8_name]
layer=list
type=text
x=30
y=172
width=250
height=16
font=p11_full
shadowed=yes
text=Swamp paste
colour=0xFFFFFF

[r8_level]
layer=list
type=text
x=300
y=172
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 1
colour=0x00FF00
activecolour=0xFF0000
script1=lt,1
script1op1=stat_base_level,cooking

[r9_icon]
layer=list
type=model
x=4
y=193
width=22
height=22
model=com_i32
zoom=500
xan=200

[r9_name]
layer=list
type=text
x=30
y=196
width=250
height=16
font=p11_full
shadowed=yes
text=Herring
colour=0xFFFFFF

[r9_level]
layer=list
type=text
x=300
y=196
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 5
colour=0x00FF00
activecolour=0xFF0000
script1=lt,5
script1op1=stat_base_level,cooking

[r10_icon]
layer=list
type=model
x=4
y=217
width=22
height=22
model=com_i32
zoom=500
xan=200

[r10_name]
layer=list
type=text
x=30
y=220
width=250
height=16
font=p11_full
shadowed=yes
text=Baked potato
colour=0xFFFFFF

[r10_level]
layer=list
type=text
x=300
y=220
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 7
colour=0x00FF00
activecolour=0xFF0000
script1=lt,7
script1op1=stat_base_level,cooking

[r11_icon]
layer=list
type=model
x=4
y=241
width=22
height=22
model=com_i32
zoom=500
xan=200

[r11_name]
layer=list
type=text
x=30
y=244
width=250
height=16
font=p11_full
shadowed=yes
text=Redberry pie
colour=0xFFFFFF

[r11_level]
layer=list
type=text
x=300
y=244
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 10
colour=0x00FF00
activecolour=0xFF0000
script1=lt,10
script1op1=stat_base_level,cooking

[r12_icon]
layer=list
type=model
x=4
y=265
width=22
height=22
model=com_i32
zoom=500
xan=200

[r12_name]
layer=list
type=text
x=30
y=268
width=250
height=16
font=p11_full
shadowed=yes
text=Mackerel
colour=0xFFFFFF

[r12_level]
layer=list
type=text
x=300
y=268
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 10
colour=0x00FF00
activecolour=0xFF0000
script1=lt,10
script1op1=stat_base_level,cooking

[r13_icon]
layer=list
type=model
x=4
y=289
width=22
height=22
model=com_i32
zoom=500
xan=200

[r13_name]
layer=list
type=text
x=30
y=292
width=250
height=16
font=p11_full
shadowed=yes
text=Giant carp
colour=0xFFFFFF

[r13_level]
layer=list
type=text
x=300
y=292
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 10
colour=0x00FF00
activecolour=0xFF0000
script1=lt,10
script1op1=stat_base_level,cooking

[r14_icon]
layer=list
type=model
x=4
y=313
width=22
height=22
model=com_i32
zoom=500
xan=200

[r14_name]
layer=list
type=text
x=30
y=316
width=250
height=16
font=p11_full
shadowed=yes
text=Trout
colour=0xFFFFFF

[r14_level]
layer=list
type=text
x=300
y=316
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 15
colour=0x00FF00
activecolour=0xFF0000
script1=lt,15
script1op1=stat_base_level,cooking

[r15_icon]
layer=list
type=model
x=4
y=337
width=22
height=22
model=com_i32
zoom=500
xan=200

[r15_name]
layer=list
type=text
x=30
y=340
width=250
height=16
font=p11_full
shadowed=yes
text=Cod
colour=0xFFFFFF

[r15_level]
layer=list
type=text
x=300
y=340
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 18
colour=0x00FF00
activecolour=0xFF0000
script1=lt,18
script1op1=stat_base_level,cooking

[r16_icon]
layer=list
type=model
x=4
y=361
width=22
height=22
model=com_i32
zoom=500
xan=200

[r16_name]
layer=list
type=text
x=30
y=364
width=250
height=16
font=p11_full
shadowed=yes
text=Meat pie
colour=0xFFFFFF

[r16_level]
layer=list
type=text
x=300
y=364
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 20
colour=0x00FF00
activecolour=0xFF0000
script1=lt,20
script1op1=stat_base_level,cooking

[r17_icon]
layer=list
type=model
x=4
y=385
width=22
height=22
model=com_i32
zoom=500
xan=200

[r17_name]
layer=list
type=text
x=30
y=388
width=250
height=16
font=p11_full
shadowed=yes
text=Pike
colour=0xFFFFFF

[r17_level]
layer=list
type=text
x=300
y=388
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 20
colour=0x00FF00
activecolour=0xFF0000
script1=lt,20
script1op1=stat_base_level,cooking

[r18_icon]
layer=list
type=model
x=4
y=409
width=22
height=22
model=com_i32
zoom=500
xan=200

[r18_name]
layer=list
type=text
x=30
y=412
width=250
height=16
font=p11_full
shadowed=yes
text=Salmon
colour=0xFFFFFF

[r18_level]
layer=list
type=text
x=300
y=412
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 25
colour=0x00FF00
activecolour=0xFF0000
script1=lt,25
script1op1=stat_base_level,cooking

[r19_icon]
layer=list
type=model
x=4
y=433
width=22
height=22
model=com_i32
zoom=500
xan=200

[r19_name]
layer=list
type=text
x=30
y=436
width=250
height=16
font=p11_full
shadowed=yes
text=Stew
colour=0xFFFFFF

[r19_level]
layer=list
type=text
x=300
y=436
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 25
colour=0x00FF00
activecolour=0xFF0000
script1=lt,25
script1op1=stat_base_level,cooking

[r20_icon]
layer=list
type=model
x=4
y=457
width=22
height=22
model=com_i32
zoom=500
xan=200

[r20_name]
layer=list
type=text
x=30
y=460
width=250
height=16
font=p11_full
shadowed=yes
text=Apple pie
colour=0xFFFFFF

[r20_level]
layer=list
type=text
x=300
y=460
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 30
colour=0x00FF00
activecolour=0xFF0000
script1=lt,30
script1op1=stat_base_level,cooking

[r21_icon]
layer=list
type=model
x=4
y=481
width=22
height=22
model=com_i32
zoom=500
xan=200

[r21_name]
layer=list
type=text
x=30
y=484
width=250
height=16
font=p11_full
shadowed=yes
text=Tuna
colour=0xFFFFFF

[r21_level]
layer=list
type=text
x=300
y=484
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 30
colour=0x00FF00
activecolour=0xFF0000
script1=lt,30
script1op1=stat_base_level,cooking

[r22_icon]
layer=list
type=model
x=4
y=505
width=22
height=22
model=com_i32
zoom=500
xan=200

[r22_name]
layer=list
type=text
x=30
y=508
width=250
height=16
font=p11_full
shadowed=yes
text=Plain pizza
colour=0xFFFFFF

[r22_level]
layer=list
type=text
x=300
y=508
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 35
colour=0x00FF00
activecolour=0xFF0000
script1=lt,35
script1op1=stat_base_level,cooking

[r23_icon]
layer=list
type=model
x=4
y=529
width=22
height=22
model=com_i32
zoom=500
xan=200

[r23_name]
layer=list
type=text
x=30
y=532
width=250
height=16
font=p11_full
shadowed=yes
text=Cake
colour=0xFFFFFF

[r23_level]
layer=list
type=text
x=300
y=532
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 40
colour=0x00FF00
activecolour=0xFF0000
script1=lt,40
script1op1=stat_base_level,cooking

[r24_icon]
layer=list
type=model
x=4
y=553
width=22
height=22
model=com_i32
zoom=500
xan=200

[r24_name]
layer=list
type=text
x=30
y=556
width=250
height=16
font=p11_full
shadowed=yes
text=Lobster
colour=0xFFFFFF

[r24_level]
layer=list
type=text
x=300
y=556
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 40
colour=0x00FF00
activecolour=0xFF0000
script1=lt,40
script1op1=stat_base_level,cooking

[r25_icon]
layer=list
type=model
x=4
y=577
width=22
height=22
model=com_i32
zoom=500
xan=200

[r25_name]
layer=list
type=text
x=30
y=580
width=250
height=16
font=p11_full
shadowed=yes
text=Bass
colour=0xFFFFFF

[r25_level]
layer=list
type=text
x=300
y=580
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 43
colour=0x00FF00
activecolour=0xFF0000
script1=lt,43
script1op1=stat_base_level,cooking

[r26_icon]
layer=list
type=model
x=4
y=601
width=22
height=22
model=com_i32
zoom=500
xan=200

[r26_name]
layer=list
type=text
x=30
y=604
width=250
height=16
font=p11_full
shadowed=yes
text=Swordfish
colour=0xFFFFFF

[r26_level]
layer=list
type=text
x=300
y=604
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 45
colour=0x00FF00
activecolour=0xFF0000
script1=lt,45
script1op1=stat_base_level,cooking

[r27_icon]
layer=list
type=model
x=4
y=625
width=22
height=22
model=com_i32
zoom=500
xan=200

[r27_name]
layer=list
type=text
x=30
y=628
width=250
height=16
font=p11_full
shadowed=yes
text=Cooked oomlie wrap
colour=0xFFFFFF

[r27_level]
layer=list
type=text
x=300
y=628
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 50
colour=0x00FF00
activecolour=0xFF0000
script1=lt,50
script1op1=stat_base_level,cooking

[r28_icon]
layer=list
type=model
x=4
y=649
width=22
height=22
model=com_i32
zoom=500
xan=200

[r28_name]
layer=list
type=text
x=30
y=652
width=250
height=16
font=p11_full
shadowed=yes
text=Lava eel
colour=0xFFFFFF

[r28_level]
layer=list
type=text
x=300
y=652
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 53
colour=0x00FF00
activecolour=0xFF0000
script1=lt,53
script1op1=stat_base_level,cooking

[r29_icon]
layer=list
type=model
x=4
y=673
width=22
height=22
model=com_i32
zoom=500
xan=200

[r29_name]
layer=list
type=text
x=30
y=676
width=250
height=16
font=p11_full
shadowed=yes
text=Pitta bread
colour=0xFFFFFF

[r29_level]
layer=list
type=text
x=300
y=676
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 58
colour=0x00FF00
activecolour=0xFF0000
script1=lt,58
script1op1=stat_base_level,cooking

[r30_icon]
layer=list
type=model
x=4
y=697
width=22
height=22
model=com_i32
zoom=500
xan=200

[r30_name]
layer=list
type=text
x=30
y=700
width=250
height=16
font=p11_full
shadowed=yes
text=Curry
colour=0xFFFFFF

[r30_level]
layer=list
type=text
x=300
y=700
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 60
colour=0x00FF00
activecolour=0xFF0000
script1=lt,60
script1op1=stat_base_level,cooking

[r31_icon]
layer=list
type=model
x=4
y=721
width=22
height=22
model=com_i32
zoom=500
xan=200

[r31_name]
layer=list
type=text
x=30
y=724
width=250
height=16
font=p11_full
shadowed=yes
text=Shark
colour=0xFFFFFF

[r31_level]
layer=list
type=text
x=300
y=724
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 80
colour=0x00FF00
activecolour=0xFF0000
script1=lt,80
script1op1=stat_base_level,cooking

[r32_icon]
layer=list
type=model
x=4
y=745
width=22
height=22
model=com_i32
zoom=500
xan=200

[r32_name]
layer=list
type=text
x=30
y=748
width=250
height=16
font=p11_full
shadowed=yes
text=Sea turtle
colour=0xFFFFFF

[r32_level]
layer=list
type=text
x=300
y=748
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 82
colour=0x00FF00
activecolour=0xFF0000
script1=lt,82
script1op1=stat_base_level,cooking

[r33_icon]
layer=list
type=model
x=4
y=769
width=22
height=22
model=com_i32
zoom=500
xan=200

[r33_name]
layer=list
type=text
x=30
y=772
width=250
height=16
font=p11_full
shadowed=yes
text=Manta ray
colour=0xFFFFFF

[r33_level]
layer=list
type=text
x=300
y=772
width=60
height=16
center=yes
font=p11_full
shadowed=yes
text=Lvl 91
colour=0x00FF00
activecolour=0xFF0000
script1=lt,91
script1op1=stat_base_level,cooking
