// 474's Emotes tab (474 interface 464), converted by LostCityServer tools/models/port474if.py. In 474
// emotes left the old player-controls tab for one of their own; run went to Options and auto retaliate
// to the combat tabs. A locked emote shows its silhouette until the varbit that unlocks it is set -
// 474 did that with a client script, and this client does it with graphic/activegraphic.
// Scripts: interface_controls/scripts/emotes.rs2.
type=overlay

[scroll_layer]
type=layer
x=173
y=1
width=16
height=260

[list]
type=layer
x=0
y=0
width=173
height=260
scroll=503

[yes]
type=graphic
layer=list
x=-2
y=6
buttontype=normal
width=48
height=48
graphic=i474_700,0
option=Yes

[no]
type=graphic
layer=list
x=42
y=6
buttontype=normal
width=48
height=48
graphic=i474_701,0
option=No

[bow]
type=graphic
layer=list
x=86
y=6
buttontype=normal
width=48
height=48
graphic=i474_703,0
option=Bow

[angry]
type=graphic
layer=list
x=130
y=6
buttontype=normal
width=48
height=48
graphic=i474_704,0
option=Angry

[think]
type=graphic
layer=list
x=-2
y=55
buttontype=normal
width=48
height=48
graphic=i474_702,0
option=Think

[wave]
type=graphic
layer=list
x=42
y=55
buttontype=normal
width=48
height=48
graphic=i474_708,0
option=Wave

[shrug]
type=graphic
layer=list
x=86
y=55
buttontype=normal
width=48
height=48
graphic=i474_720,0
option=Shrug

[cheer]
type=graphic
layer=list
x=130
y=55
buttontype=normal
width=48
height=48
graphic=i474_707,0
option=Cheer

[beckon]
type=graphic
layer=list
x=-3
y=104
buttontype=normal
width=48
height=48
graphic=i474_709,0
option=Beckon

[laugh]
type=graphic
layer=list
x=39
y=104
buttontype=normal
width=48
height=48
graphic=i474_706,0
option=Laugh

[jump_for_joy]
type=graphic
layer=list
x=86
y=104
buttontype=normal
width=48
height=48
graphic=i474_716,0
option=Jump for Joy

[yawn]
type=graphic
layer=list
x=130
y=104
buttontype=normal
width=48
height=48
graphic=i474_718,0
option=Yawn

[dance]
type=graphic
layer=list
x=-1
y=153
buttontype=normal
width=48
height=48
graphic=i474_710,0
option=Dance

[jig]
type=graphic
layer=list
x=42
y=153
buttontype=normal
width=48
height=48
graphic=i474_713,0
option=Jig

[spin]
type=graphic
layer=list
x=86
y=153
buttontype=normal
width=48
height=48
graphic=i474_714,0
option=Spin

[headbang]
type=graphic
layer=list
x=130
y=153
buttontype=normal
width=48
height=48
graphic=i474_715,0
option=Headbang

[cry]
type=graphic
layer=list
x=-1
y=202
buttontype=normal
width=48
height=48
graphic=i474_705,0
option=Cry

[blow_kiss]
type=graphic
layer=list
x=42
y=202
buttontype=normal
width=48
height=48
graphic=i474_721,0
option=Blow Kiss

[panic]
type=graphic
layer=list
x=86
y=202
buttontype=normal
width=48
height=48
graphic=i474_712,0
option=Panic

[raspberry]
type=graphic
layer=list
x=130
y=202
buttontype=normal
width=48
height=48
graphic=i474_717,0
option=Raspberry

[clap]
type=graphic
layer=list
x=-1
y=252
buttontype=normal
width=48
height=48
graphic=i474_711,0
option=Clap

[salute]
type=graphic
layer=list
x=42
y=252
buttontype=normal
width=48
height=48
graphic=i474_719,0
option=Salute

[goblin_bow]
type=graphic
layer=list
x=86
y=252
buttontype=normal
width=48
height=48
script1op1=push_varbit,lost_tribe_quest
script1=gt,6
graphic=i474_746,0
activegraphic=i474_726,0
option=Goblin Bow

[goblin_salute]
type=graphic
layer=list
x=130
y=252
buttontype=normal
width=48
height=48
script1op1=push_varbit,lost_tribe_quest
script1=gt,6
graphic=i474_747,0
activegraphic=i474_727,0
option=Goblin Salute

[glass_box]
type=graphic
layer=list
x=-2
y=302
buttontype=normal
width=48
height=48
script1op1=push_varbit,emote_glassbox
script1=eq,1
graphic=i474_742,0
activegraphic=i474_722,0
option=Glass Box

[climb_rope]
type=graphic
layer=list
x=42
y=302
buttontype=normal
width=48
height=48
script1op1=push_varbit,emote_climbrope
script1=eq,1
graphic=i474_743,0
activegraphic=i474_723,0
option=Climb Rope  

[lean]
type=graphic
layer=list
x=86
y=302
buttontype=normal
width=48
height=48
script1op1=push_varbit,emote_lean
script1=eq,1
graphic=i474_744,0
activegraphic=i474_724,0
option=Lean

[glass_wall]
type=graphic
layer=list
x=130
y=302
buttontype=normal
width=48
height=48
script1op1=push_varbit,emote_glasswall
script1=eq,1
graphic=i474_745,0
activegraphic=i474_725,0
option=Glass Wall

[slap_head]
type=graphic
layer=list
x=130
y=352
buttontype=normal
width=48
height=48
graphic=i474_749,0
option=Slap Head

[stomp]
type=graphic
layer=list
x=42
y=352
buttontype=normal
width=48
height=48
graphic=i474_750,0
option=Stomp

[flap]
type=graphic
layer=list
x=86
y=352
buttontype=normal
width=48
height=48
graphic=i474_751,0
option=Flap

[idea]
type=graphic
layer=list
x=-6
y=352
buttontype=normal
width=48
height=48
graphic=i474_752,0
option=Idea

[zombie_walk]
type=graphic
layer=list
x=-3
y=403
buttontype=normal
width=48
height=48
script1op1=push_varbit,emote_zombie_walk
script1=eq,1
graphic=i474_753,0
activegraphic=i474_733,0
option=Zombie Walk

[zombie_dance]
type=graphic
layer=list
x=42
y=403
buttontype=normal
width=48
height=48
script1op1=push_varbit,emote_zombie_dance
script1=eq,1
graphic=i474_754,0
activegraphic=i474_734,0
option=Zombie Dance

[zombie_hand]
type=graphic
layer=list
x=86
y=403
buttontype=normal
width=48
height=48
graphic=i474_757,0
option=Zombie Hand

[scared]
type=graphic
layer=list
x=130
y=403
buttontype=normal
width=48
height=48
script1op1=push_varbit,emote_terrified
script1=eq,1
graphic=i474_748,0
activegraphic=i474_728,0
option=Scared

[bunny_hop]
type=graphic
layer=list
x=-3
y=453
buttontype=normal
width=48
height=48
script1op1=push_varbit,emote_bunny_hop
script1=eq,1
graphic=i474_755,0
activegraphic=i474_735,0
option=Bunny Hop

[skill_cape]
type=graphic
layer=list
x=42
y=453
buttontype=normal
width=48
height=48
graphic=i474_736,0
option=Skill Cape

[tooltip_layer]
type=layer
layer=list
x=34
y=119
width=100
height=50
