[com_25]
type=rect
x=6
y=4
width=500
height=192
fill=yes
colour=0x806102

[com_0]
type=text
x=140
y=8
width=220
height=20
font=b12_full
shadowed=yes
text=Fractionalising Still
colour=0xFFFFFF

[com_1]
type=text
x=430
y=7
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0x808080
overcolour=0xFFFFFF

[com_2]
type=text
x=20
y=40
width=200
height=16
font=p12_full
shadowed=yes
text=Tar valve (controls pressure):
colour=0x4A4028

[com_3]
type=text
x=20
y=58
buttontype=normal
width=60
height=16
font=p12_full
shadowed=yes
text=Closed
option=Closed
colour=0xFFFF00
activecolour=0x00FF00
overcolour=0xFFFFFF

[com_4]
type=text
x=90
y=58
buttontype=normal
width=60
height=16
font=p12_full
shadowed=yes
text=Half
option=Half
colour=0xFFFF00
activecolour=0x00FF00
overcolour=0xFFFFFF

[com_5]
type=text
x=160
y=58
buttontype=normal
width=60
height=16
font=p12_full
shadowed=yes
text=Full
option=Full
colour=0xFFFF00
activecolour=0x00FF00
overcolour=0xFFFFFF

[com_6]
type=text
x=260
y=40
width=220
height=16
font=p12_full
shadowed=yes
text=Release valve (bleeds pressure):
colour=0x4A4028

[com_7]
type=text
x=260
y=58
buttontype=normal
width=60
height=16
font=p12_full
shadowed=yes
text=Closed
option=Closed
colour=0xFFFF00
activecolour=0x00FF00
overcolour=0xFFFFFF

[com_8]
type=text
x=330
y=58
buttontype=normal
width=60
height=16
font=p12_full
shadowed=yes
text=Half
option=Half
colour=0xFFFF00
activecolour=0x00FF00
overcolour=0xFFFFFF

[com_9]
type=text
x=400
y=58
buttontype=normal
width=60
height=16
font=p12_full
shadowed=yes
text=Full
option=Full
colour=0xFFFF00
activecolour=0x00FF00
overcolour=0xFFFFFF

[com_10]
type=text
x=20
y=88
width=220
height=16
font=p12_full
shadowed=yes
text=Pressure: --
colour=0xE5BD5D

[com_11]
type=text
x=260
y=88
width=220
height=16
font=p12_full
shadowed=yes
text=Heat: --
colour=0xE5BD5D

[com_12]
type=text
x=20
y=112
buttontype=normal
width=100
height=16
font=p12_full
shadowed=yes
text=Add coal
option=Add coal
colour=0xFFFF00
activecolour=0x00FF00
overcolour=0xFFFFFF

[com_13]
type=text
x=140
y=112
width=340
height=16
font=p12_full
shadowed=yes
text=
colour=0xCC0000

[com_14]
type=text
x=20
y=145
width=200
height=16
font=p12_full
shadowed=yes
text=Naphtha progress:
colour=0x4A4028

[com_15]
type=rect
x=20
y=163
width=44
height=14
trans=128
script1op1=pushvar,regicide_still_total
script1=gt,0
fill=yes
activecolour=0x40C040

[com_16]
type=rect
x=66
y=163
width=44
height=14
trans=128
script1op1=pushvar,regicide_still_total
script1=gt,10
fill=yes
activecolour=0x40C040

[com_17]
type=rect
x=112
y=163
width=44
height=14
trans=128
script1op1=pushvar,regicide_still_total
script1=gt,20
fill=yes
activecolour=0x40C040

[com_18]
type=rect
x=158
y=163
width=44
height=14
trans=128
script1op1=pushvar,regicide_still_total
script1=gt,30
fill=yes
activecolour=0x40C040

[com_19]
type=rect
x=204
y=163
width=44
height=14
trans=128
script1op1=pushvar,regicide_still_total
script1=gt,40
fill=yes
activecolour=0x40C040

[com_20]
type=rect
x=250
y=163
width=44
height=14
trans=128
script1op1=pushvar,regicide_still_total
script1=gt,50
fill=yes
activecolour=0x40C040

[com_21]
type=rect
x=296
y=163
width=44
height=14
trans=128
script1op1=pushvar,regicide_still_total
script1=gt,60
fill=yes
activecolour=0x40C040

[com_22]
type=rect
x=342
y=163
width=44
height=14
trans=128
script1op1=pushvar,regicide_still_total
script1=gt,70
fill=yes
activecolour=0x40C040

[com_23]
type=rect
x=388
y=163
width=44
height=14
trans=128
script1op1=pushvar,regicide_still_total
script1=gt,80
fill=yes
activecolour=0x40C040

[com_24]
type=rect
x=434
y=163
width=44
height=14
trans=128
script1op1=pushvar,regicide_still_total
script1=gt,90
fill=yes
activecolour=0x40C040
