// 474's Items Kept on Death (474 interface 102), from the Worn Equipment tab. Converted by
// LostCityServer tools/models/port474if.py; kept and lost are this build's own inventories, because
// 474 drew the items with a client script. Scripts: player/scripts/equipment_screens.rs2.
type=layer

[com_0]
type=rect
x=13
y=14
width=495
height=314
fill=yes
colour=0x000000
trans=200

[com_1]
type=graphic
x=12
y=11
width=88
height=60
graphic=tradebacking,0

[com_1_t1]
type=graphic
x=100
y=11
width=88
height=60
graphic=tradebacking,0

[com_1_t2]
type=graphic
x=188
y=11
width=88
height=60
graphic=tradebacking,0

[com_1_t3]
type=graphic
x=276
y=11
width=88
height=60
graphic=tradebacking,0

[com_1_t4]
type=graphic
x=364
y=11
width=88
height=60
graphic=tradebacking,0

[com_1_t5]
type=graphic
x=414
y=11
width=88
height=60
graphic=tradebacking,0

[com_1_t6]
type=graphic
x=12
y=71
width=88
height=60
graphic=tradebacking,0

[com_1_t7]
type=graphic
x=100
y=71
width=88
height=60
graphic=tradebacking,0

[com_1_t8]
type=graphic
x=188
y=71
width=88
height=60
graphic=tradebacking,0

[com_1_t9]
type=graphic
x=276
y=71
width=88
height=60
graphic=tradebacking,0

[com_1_t10]
type=graphic
x=364
y=71
width=88
height=60
graphic=tradebacking,0

[com_1_t11]
type=graphic
x=414
y=71
width=88
height=60
graphic=tradebacking,0

[com_1_t12]
type=graphic
x=12
y=131
width=88
height=60
graphic=tradebacking,0

[com_1_t13]
type=graphic
x=100
y=131
width=88
height=60
graphic=tradebacking,0

[com_1_t14]
type=graphic
x=188
y=131
width=88
height=60
graphic=tradebacking,0

[com_1_t15]
type=graphic
x=276
y=131
width=88
height=60
graphic=tradebacking,0

[com_1_t16]
type=graphic
x=364
y=131
width=88
height=60
graphic=tradebacking,0

[com_1_t17]
type=graphic
x=414
y=131
width=88
height=60
graphic=tradebacking,0

[com_1_t18]
type=graphic
x=12
y=191
width=88
height=60
graphic=tradebacking,0

[com_1_t19]
type=graphic
x=100
y=191
width=88
height=60
graphic=tradebacking,0

[com_1_t20]
type=graphic
x=188
y=191
width=88
height=60
graphic=tradebacking,0

[com_1_t21]
type=graphic
x=276
y=191
width=88
height=60
graphic=tradebacking,0

[com_1_t22]
type=graphic
x=364
y=191
width=88
height=60
graphic=tradebacking,0

[com_1_t23]
type=graphic
x=414
y=191
width=88
height=60
graphic=tradebacking,0

[com_1_t24]
type=graphic
x=12
y=251
width=88
height=60
graphic=tradebacking,0

[com_1_t25]
type=graphic
x=100
y=251
width=88
height=60
graphic=tradebacking,0

[com_1_t26]
type=graphic
x=188
y=251
width=88
height=60
graphic=tradebacking,0

[com_1_t27]
type=graphic
x=276
y=251
width=88
height=60
graphic=tradebacking,0

[com_1_t28]
type=graphic
x=364
y=251
width=88
height=60
graphic=tradebacking,0

[com_1_t29]
type=graphic
x=414
y=251
width=88
height=60
graphic=tradebacking,0

[com_1_t30]
type=graphic
x=12
y=266
width=88
height=60
graphic=tradebacking,0

[com_1_t31]
type=graphic
x=100
y=266
width=88
height=60
graphic=tradebacking,0

[com_1_t32]
type=graphic
x=188
y=266
width=88
height=60
graphic=tradebacking,0

[com_1_t33]
type=graphic
x=276
y=266
width=88
height=60
graphic=tradebacking,0

[com_1_t34]
type=graphic
x=364
y=266
width=88
height=60
graphic=tradebacking,0

[com_1_t35]
type=graphic
x=414
y=266
width=88
height=60
graphic=tradebacking,0

[com_2]
type=graphic
x=-5
y=24
width=23
height=32
graphic=i474_821_23x32,0

[com_2_t1]
type=graphic
x=-5
y=56
width=23
height=32
graphic=i474_821_23x32,0

[com_2_t2]
type=graphic
x=-5
y=88
width=23
height=32
graphic=i474_821_23x32,0

[com_2_t3]
type=graphic
x=-5
y=120
width=23
height=32
graphic=i474_821_23x32,0

[com_2_t4]
type=graphic
x=-5
y=152
width=23
height=32
graphic=i474_821_23x32,0

[com_2_t5]
type=graphic
x=-5
y=184
width=23
height=32
graphic=i474_821_23x32,0

[com_2_t6]
type=graphic
x=-5
y=216
width=23
height=32
graphic=i474_821_23x32,0

[com_2_t7]
type=graphic
x=-5
y=248
width=23
height=32
graphic=i474_821_23x32,0

[com_2_t8]
type=graphic
x=-5
y=280
width=23
height=32
graphic=i474_821_23x32,0

[com_2_t9]
type=graphic
x=-5
y=281
width=23
height=32
graphic=i474_821_23x32,0

[com_3]
type=graphic
x=486
y=24
width=28
height=32
graphic=i474_823_28x32,0

[com_3_t1]
type=graphic
x=486
y=56
width=28
height=32
graphic=i474_823_28x32,0

[com_3_t2]
type=graphic
x=486
y=88
width=28
height=32
graphic=i474_823_28x32,0

[com_3_t3]
type=graphic
x=486
y=120
width=28
height=32
graphic=i474_823_28x32,0

[com_3_t4]
type=graphic
x=486
y=152
width=28
height=32
graphic=i474_823_28x32,0

[com_3_t5]
type=graphic
x=486
y=184
width=28
height=32
graphic=i474_823_28x32,0

[com_3_t6]
type=graphic
x=486
y=216
width=28
height=32
graphic=i474_823_28x32,0

[com_3_t7]
type=graphic
x=486
y=248
width=28
height=32
graphic=i474_823_28x32,0

[com_3_t8]
type=graphic
x=486
y=279
width=28
height=32
graphic=i474_823_28x32,0

[com_4]
type=graphic
x=18
y=306
width=32
height=27
graphic=i474_822_32x27,0

[com_4_t1]
type=graphic
x=50
y=306
width=32
height=27
graphic=i474_822_32x27,0

[com_4_t2]
type=graphic
x=82
y=306
width=32
height=27
graphic=i474_822_32x27,0

[com_4_t3]
type=graphic
x=114
y=306
width=32
height=27
graphic=i474_822_32x27,0

[com_4_t4]
type=graphic
x=146
y=306
width=32
height=27
graphic=i474_822_32x27,0

[com_4_t5]
type=graphic
x=178
y=306
width=32
height=27
graphic=i474_822_32x27,0

[com_4_t6]
type=graphic
x=210
y=306
width=32
height=27
graphic=i474_822_32x27,0

[com_4_t7]
type=graphic
x=242
y=306
width=32
height=27
graphic=i474_822_32x27,0

[com_4_t8]
type=graphic
x=274
y=306
width=32
height=27
graphic=i474_822_32x27,0

[com_4_t9]
type=graphic
x=306
y=306
width=32
height=27
graphic=i474_822_32x27,0

[com_4_t10]
type=graphic
x=338
y=306
width=32
height=27
graphic=i474_822_32x27,0

[com_4_t11]
type=graphic
x=370
y=306
width=32
height=27
graphic=i474_822_32x27,0

[com_4_t12]
type=graphic
x=402
y=306
width=32
height=27
graphic=i474_822_32x27,0

[com_4_t13]
type=graphic
x=434
y=306
width=32
height=27
graphic=i474_822_32x27,0

[com_4_t14]
type=graphic
x=464
y=306
width=32
height=27
graphic=i474_822_32x27,0

[com_5]
type=graphic
x=17
y=-4
width=32
height=28
graphic=i474_820_32x28,0

[com_5_t1]
type=graphic
x=49
y=-4
width=32
height=28
graphic=i474_820_32x28,0

[com_5_t2]
type=graphic
x=81
y=-4
width=32
height=28
graphic=i474_820_32x28,0

[com_5_t3]
type=graphic
x=113
y=-4
width=32
height=28
graphic=i474_820_32x28,0

[com_5_t4]
type=graphic
x=145
y=-4
width=32
height=28
graphic=i474_820_32x28,0

[com_5_t5]
type=graphic
x=177
y=-4
width=32
height=28
graphic=i474_820_32x28,0

[com_5_t6]
type=graphic
x=209
y=-4
width=32
height=28
graphic=i474_820_32x28,0

[com_5_t7]
type=graphic
x=241
y=-4
width=32
height=28
graphic=i474_820_32x28,0

[com_5_t8]
type=graphic
x=273
y=-4
width=32
height=28
graphic=i474_820_32x28,0

[com_5_t9]
type=graphic
x=305
y=-4
width=32
height=28
graphic=i474_820_32x28,0

[com_5_t10]
type=graphic
x=337
y=-4
width=32
height=28
graphic=i474_820_32x28,0

[com_5_t11]
type=graphic
x=369
y=-4
width=32
height=28
graphic=i474_820_32x28,0

[com_5_t12]
type=graphic
x=401
y=-4
width=32
height=28
graphic=i474_820_32x28,0

[com_5_t13]
type=graphic
x=433
y=-4
width=32
height=28
graphic=i474_820_32x28,0

[com_5_t14]
type=graphic
x=460
y=-4
width=32
height=28
graphic=i474_820_32x28,0

[com_6]
type=graphic
x=8
y=9
width=32
height=32
graphic=i474_824,0

[com_7]
type=graphic
x=474
y=9
width=32
height=32
graphic=i474_825,0

[com_8]
type=graphic
x=8
y=294
width=32
height=32
graphic=i474_826,0

[com_9]
type=graphic
x=474
y=294
width=32
height=32
graphic=i474_827,0

[com_10]
type=graphic
x=8
y=25
width=32
height=32
graphic=i474_829,0

[com_11]
type=graphic
x=17
y=23
width=32
height=26
graphic=i474_828_32x26,0

[com_11_t1]
type=graphic
x=49
y=23
width=32
height=26
graphic=i474_828_32x26,0

[com_11_t2]
type=graphic
x=81
y=23
width=32
height=26
graphic=i474_828_32x26,0

[com_11_t3]
type=graphic
x=113
y=23
width=32
height=26
graphic=i474_828_32x26,0

[com_11_t4]
type=graphic
x=145
y=23
width=32
height=26
graphic=i474_828_32x26,0

[com_11_t5]
type=graphic
x=177
y=23
width=32
height=26
graphic=i474_828_32x26,0

[com_11_t6]
type=graphic
x=209
y=23
width=32
height=26
graphic=i474_828_32x26,0

[com_11_t7]
type=graphic
x=241
y=23
width=32
height=26
graphic=i474_828_32x26,0

[com_11_t8]
type=graphic
x=273
y=23
width=32
height=26
graphic=i474_828_32x26,0

[com_11_t9]
type=graphic
x=305
y=23
width=32
height=26
graphic=i474_828_32x26,0

[com_11_t10]
type=graphic
x=337
y=23
width=32
height=26
graphic=i474_828_32x26,0

[com_11_t11]
type=graphic
x=369
y=23
width=32
height=26
graphic=i474_828_32x26,0

[com_11_t12]
type=graphic
x=401
y=23
width=32
height=26
graphic=i474_828_32x26,0

[com_11_t13]
type=graphic
x=433
y=23
width=32
height=26
graphic=i474_828_32x26,0

[com_11_t14]
type=graphic
x=465
y=23
width=32
height=26
graphic=i474_828_32x26,0

[com_12]
type=graphic
x=474
y=25
width=32
height=32
graphic=i474_830,0

[close]
type=graphic
x=481
y=18
buttontype=normal
width=16
height=16
graphic=i474_831,0
option=Close

[com_14]
type=rect
x=19
y=46
width=316
height=270
fill=yes
colour=0x010101
trans=200

[title]
type=text
x=36
y=19
width=436
height=15
center=yes
font=b12_full
shadowed=yes
text=Items Kept on Death
colour=0xFF981F

[keep_layer]
type=layer
x=19
y=47
width=316
height=275

[line1]
type=rect
layer=keep_layer
x=2
y=17
width=308
height=1
fill=yes
colour=0x726451

[keep_title]
type=text
layer=keep_layer
x=5
y=3
width=117
height=16
font=p12_full
shadowed=yes
text=Items you will keep on death if not skulled:
colour=0xFF981F

[kept]
type=inv
layer=keep_layer
x=5
y=22
width=4
height=1
margin=10,0

[lose_layer]
type=layer
x=19
y=107
width=316
height=209

[line2]
type=rect
layer=lose_layer
x=2
y=17
width=308
height=1
fill=yes
colour=0x726451

[lose_title]
type=text
layer=lose_layer
x=5
y=3
width=117
height=16
font=p12_full
shadowed=yes
text=Items you will lose on death if not skulled:
colour=0xFF981F

[lost]
type=inv
layer=lose_layer
x=5
y=22
width=7
height=6
margin=10,0

[com_22]
type=graphic
x=325
y=37
width=32
height=32
graphic=i474_842,0

[com_23]
type=graphic
x=325
y=293
width=32
height=32
graphic=i474_843,0

[com_24]
type=graphic
x=324
y=45
width=30
height=32
graphic=i474_841_30x32,0

[com_24_t1]
type=graphic
x=324
y=77
width=30
height=32
graphic=i474_841_30x32,0

[com_24_t2]
type=graphic
x=324
y=109
width=30
height=32
graphic=i474_841_30x32,0

[com_24_t3]
type=graphic
x=324
y=141
width=30
height=32
graphic=i474_841_30x32,0

[com_24_t4]
type=graphic
x=324
y=173
width=30
height=32
graphic=i474_841_30x32,0

[com_24_t5]
type=graphic
x=324
y=205
width=30
height=32
graphic=i474_841_30x32,0

[com_24_t6]
type=graphic
x=324
y=237
width=30
height=32
graphic=i474_841_30x32,0

[com_24_t7]
type=graphic
x=324
y=269
width=30
height=32
graphic=i474_841_30x32,0

[com_24_t8]
type=graphic
x=324
y=284
width=30
height=32
graphic=i474_841_30x32,0

[info_title]
type=text
x=348
y=49
width=133
height=15
font=p12_full
shadowed=yes
text=Information:
colour=0xFF981F

[line3]
type=rect
x=347
y=64
width=100
height=1
fill=yes
colour=0x726451

[info]
type=text
x=348
y=70
width=149
height=193
font=p11_full
shadowed=yes
text=This is where the information goes, This is where the information goes, This is where the information goes, This is where the information goes, This is where the information goes, This is where the information goes
colour=0xFF981F

[info2]
type=text
x=348
y=282
width=149
height=15
center=yes
font=p12_full
shadowed=yes
text=put information in here,put information in here,put information in
colour=0xFF981F

[info_layer]
type=layer
x=28
y=76
width=300
height=200
hide=yes

[info3]
type=text
layer=info_layer
x=27
y=92
width=250
height=15
center=yes
font=p12_full
shadowed=yes
text=Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here, Informatio ngoes in here, informatio ngoes in here,
colour=0xFF981F
