[frame0]
type=graphic
x=12
y=20
width=88
height=60
graphic=tradebacking,0

[frame1]
type=graphic
x=12
y=80
width=88
height=60
graphic=tradebacking,0

[frame2]
type=graphic
x=12
y=140
width=88
height=60
graphic=tradebacking,0

[frame3]
type=graphic
x=12
y=200
width=88
height=60
graphic=tradebacking,0

[frame4]
type=graphic
x=12
y=260
width=88
height=60
graphic=tradebacking,0

[frame5]
type=graphic
x=100
y=20
width=88
height=60
graphic=tradebacking,0

[frame6]
type=graphic
x=100
y=80
width=88
height=60
graphic=tradebacking,0

[frame7]
type=graphic
x=100
y=140
width=88
height=60
graphic=tradebacking,0

[frame8]
type=graphic
x=100
y=200
width=88
height=60
graphic=tradebacking,0

[frame9]
type=graphic
x=188
y=20
width=88
height=60
graphic=tradebacking,0

[frame10]
type=graphic
x=100
y=260
width=88
height=60
graphic=tradebacking,0

[frame11]
type=graphic
x=188
y=80
width=88
height=60
graphic=tradebacking,0

[frame12]
type=graphic
x=188
y=140
width=88
height=60
graphic=tradebacking,0

[frame13]
type=graphic
x=188
y=200
width=88
height=60
graphic=tradebacking,0

[frame14]
type=graphic
x=188
y=260
width=88
height=60
graphic=tradebacking,0

[frame15]
type=graphic
x=276
y=20
width=88
height=60
graphic=tradebacking,0

[frame16]
type=graphic
x=364
y=80
width=88
height=60
graphic=tradebacking,0

[frame17]
type=graphic
x=276
y=80
width=88
height=60
graphic=tradebacking,0

[frame18]
type=graphic
x=276
y=140
width=88
height=60
graphic=tradebacking,0

[frame19]
type=graphic
x=276
y=200
width=88
height=60
graphic=tradebacking,0

[frame20]
type=graphic
x=276
y=260
width=88
height=60
graphic=tradebacking,0

[frame21]
type=graphic
x=364
y=140
width=88
height=60
graphic=tradebacking,0

[frame22]
type=graphic
x=364
y=20
width=88
height=60
graphic=tradebacking,0

[frame23]
type=graphic
x=364
y=200
width=88
height=60
graphic=tradebacking,0

[frame24]
type=graphic
x=364
y=260
width=88
height=60
graphic=tradebacking,0

[frame25]
type=graphic
x=412
y=20
width=88
height=60
graphic=tradebacking,0

[frame26]
type=graphic
x=412
y=80
width=88
height=60
graphic=tradebacking,0

[frame27]
type=graphic
x=412
y=140
width=88
height=60
graphic=tradebacking,0

[frame28]
type=graphic
x=412
y=200
width=88
height=60
graphic=tradebacking,0

[frame29]
type=graphic
x=412
y=260
width=88
height=60
graphic=tradebacking,0

[frame30]
type=graphic
x=12
y=20
width=25
height=30
graphic=steelborder,0

[frame31]
type=graphic
x=-3
y=49
width=36
height=36
graphic=miscgraphics,2

[frame32]
type=graphic
x=-3
y=85
width=36
height=36
graphic=miscgraphics,2

[frame33]
type=graphic
x=-3
y=121
width=36
height=36
graphic=miscgraphics,2

[frame34]
type=graphic
x=-3
y=157
width=36
height=36
graphic=miscgraphics,2

[frame35]
type=graphic
x=-3
y=193
width=36
height=36
graphic=miscgraphics,2

[frame36]
type=graphic
x=-3
y=229
width=36
height=36
graphic=miscgraphics,2

[frame37]
type=graphic
x=-3
y=265
width=36
height=36
graphic=miscgraphics,2

[frame38]
type=graphic
x=479
y=50
width=36
height=36
graphic=steelborder2,1

[frame39]
type=graphic
x=479
y=86
width=36
height=36
graphic=steelborder2,1

[frame40]
type=graphic
x=479
y=122
width=36
height=36
graphic=steelborder2,1

[frame41]
type=graphic
x=479
y=158
width=36
height=36
graphic=steelborder2,1

[frame42]
type=graphic
x=479
y=194
width=36
height=36
graphic=steelborder2,1

[frame43]
type=graphic
x=479
y=230
width=36
height=36
graphic=steelborder2,1

[frame44]
type=graphic
x=479
y=266
width=36
height=36
graphic=steelborder2,1

[frame45]
type=graphic
x=73
y=299
width=36
height=36
graphic=miscgraphics,3

[frame46]
type=graphic
x=109
y=299
width=36
height=36
graphic=miscgraphics,3

[frame47]
type=graphic
x=145
y=299
width=36
height=36
graphic=miscgraphics,3

[frame48]
type=graphic
x=181
y=299
width=36
height=36
graphic=miscgraphics,3

[frame49]
type=graphic
x=217
y=299
width=36
height=36
graphic=miscgraphics,3

[frame50]
type=graphic
x=253
y=299
width=36
height=36
graphic=miscgraphics,3

[frame51]
type=graphic
x=289
y=299
width=36
height=36
graphic=miscgraphics,3

[frame52]
type=graphic
x=325
y=299
width=36
height=36
graphic=miscgraphics,3

[frame53]
type=graphic
x=361
y=299
width=36
height=36
graphic=miscgraphics,3

[frame54]
type=graphic
x=397
y=299
width=36
height=36
graphic=miscgraphics,3

[frame55]
type=graphic
x=433
y=299
width=36
height=36
graphic=miscgraphics,3

[frame56]
type=graphic
x=72
y=5
width=36
height=36
graphic=steelborder2,0

[frame57]
type=graphic
x=108
y=5
width=36
height=36
graphic=steelborder2,0

[frame58]
type=graphic
x=144
y=5
width=36
height=36
graphic=steelborder2,0

[frame59]
type=graphic
x=180
y=5
width=36
height=36
graphic=steelborder2,0

[frame60]
type=graphic
x=216
y=5
width=36
height=36
graphic=steelborder2,0

[frame61]
type=graphic
x=252
y=5
width=36
height=36
graphic=steelborder2,0

[frame62]
type=graphic
x=288
y=5
width=36
height=36
graphic=steelborder2,0

[frame63]
type=graphic
x=324
y=5
width=36
height=36
graphic=steelborder2,0

[frame64]
type=graphic
x=360
y=5
width=36
height=36
graphic=steelborder2,0

[frame65]
type=graphic
x=396
y=5
width=36
height=36
graphic=steelborder2,0

[frame66]
type=graphic
x=432
y=5
width=36
height=36
graphic=steelborder2,0

[frame67]
type=graphic
x=252
y=34
width=36
height=36
graphic=steelborder2,0

[frame68]
type=graphic
x=37
y=5
width=36
height=36
graphic=steelborder2,0

[frame69]
type=graphic
x=37
y=299
width=36
height=36
graphic=miscgraphics,3

[frame70]
type=graphic
x=12
y=290
width=25
height=30
graphic=steelborder,2

[frame71]
type=graphic
x=475
y=20
width=25
height=30
graphic=steelborder,1

[frame72]
type=graphic
x=439
y=5
width=36
height=36
graphic=steelborder2,0

[frame73]
type=graphic
x=475
y=290
width=25
height=30
graphic=steelborder,3

[frame74]
type=graphic
x=439
y=299
width=36
height=36
graphic=miscgraphics,3

[frame75]
type=graphic
x=288
y=34
width=36
height=36
graphic=steelborder2,0

[frame76]
type=graphic
x=324
y=34
width=36
height=36
graphic=steelborder2,0

[frame77]
type=graphic
x=360
y=34
width=36
height=36
graphic=steelborder2,0

[frame78]
type=graphic
x=396
y=34
width=36
height=36
graphic=steelborder2,0

[frame79]
type=graphic
x=432
y=34
width=36
height=36
graphic=steelborder2,0

[frame80]
type=graphic
x=459
y=34
width=36
height=36
graphic=steelborder2,0

[frame81]
type=graphic
x=216
y=34
width=36
height=36
graphic=steelborder2,0

[frame82]
type=graphic
x=180
y=34
width=36
height=36
graphic=steelborder2,0

[frame83]
type=graphic
x=144
y=34
width=36
height=36
graphic=steelborder2,0

[frame84]
type=graphic
x=108
y=34
width=36
height=36
graphic=steelborder2,0

[frame85]
type=graphic
x=72
y=34
width=36
height=36
graphic=steelborder2,0

[frame86]
type=graphic
x=36
y=34
width=36
height=36
graphic=steelborder2,0

[frame87]
type=graphic
x=17
y=34
width=36
height=36
graphic=steelborder2,0

[title]
type=text
x=12
y=30
width=488
height=14
center=yes
font=b12_full
shadowed=yes
text=Magic tablets
colour=0xFFFF00

[close]
type=text
x=424
y=28
buttontype=close
width=68
height=11
font=p11_full
shadowed=yes
text=Close Window
colour=0xC00000
overcolour=0xFFFFFF

[subtitle]
type=text
x=26
y=48
width=250
height=13
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[qtylabel]
type=text
x=300
y=48
width=40
height=13
font=p12_full
shadowed=yes
text=Make:
colour=0xFFFF00

[qty1]
type=text
x=344
y=46
buttontype=normal
width=34
height=16
center=yes
font=b12_full
shadowed=yes
text=1
colour=0xFF9040
overcolour=0xFFFFFF
option=Make 1

[qty5]
type=text
x=382
y=46
buttontype=normal
width=34
height=16
center=yes
font=b12_full
shadowed=yes
text=5
colour=0xFF9040
overcolour=0xFFFFFF
option=Make 5

[qty10]
type=text
x=420
y=46
buttontype=normal
width=34
height=16
center=yes
font=b12_full
shadowed=yes
text=10
colour=0xFF9040
overcolour=0xFFFFFF
option=Make 10

[qtyx]
type=text
x=458
y=46
buttontype=normal
width=34
height=16
center=yes
font=b12_full
shadowed=yes
text=X
colour=0xFF9040
overcolour=0xFFFFFF
option=Make X

[row0]
type=layer
x=26
y=62
width=448
height=28
scroll=0

[t0box]
layer=row0
type=rect
x=0
y=0
buttontype=normal
width=448
height=28
fill=no
colour=0x6F6250
overcolour=0xFFFFFF
option=Make

[t0model]
layer=row0
type=model
x=4
y=0
width=34
height=28
model=obj_tab_enchant_sapphire
zoom=465
xan=373
yan=0

[t0name]
layer=row0
type=text
x=42
y=7
width=126
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[t0need]
layer=row0
type=text
x=172
y=8
width=200
height=13
font=p11_full
shadowed=yes
text=
colour=0xFFFF00

[t0lvl]
layer=row0
type=text
x=376
y=7
width=68
height=14
center=yes
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row1]
type=layer
x=26
y=92
width=448
height=28
scroll=0

[t1box]
layer=row1
type=rect
x=0
y=0
buttontype=normal
width=448
height=28
fill=no
colour=0x6F6250
overcolour=0xFFFFFF
option=Make

[t1model]
layer=row1
type=model
x=4
y=0
width=34
height=28
model=obj_tab_enchant_sapphire
zoom=465
xan=373
yan=0

[t1name]
layer=row1
type=text
x=42
y=7
width=126
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[t1need]
layer=row1
type=text
x=172
y=8
width=200
height=13
font=p11_full
shadowed=yes
text=
colour=0xFFFF00

[t1lvl]
layer=row1
type=text
x=376
y=7
width=68
height=14
center=yes
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row2]
type=layer
x=26
y=122
width=448
height=28
scroll=0

[t2box]
layer=row2
type=rect
x=0
y=0
buttontype=normal
width=448
height=28
fill=no
colour=0x6F6250
overcolour=0xFFFFFF
option=Make

[t2model]
layer=row2
type=model
x=4
y=0
width=34
height=28
model=obj_tab_enchant_sapphire
zoom=465
xan=373
yan=0

[t2name]
layer=row2
type=text
x=42
y=7
width=126
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[t2need]
layer=row2
type=text
x=172
y=8
width=200
height=13
font=p11_full
shadowed=yes
text=
colour=0xFFFF00

[t2lvl]
layer=row2
type=text
x=376
y=7
width=68
height=14
center=yes
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row3]
type=layer
x=26
y=152
width=448
height=28
scroll=0

[t3box]
layer=row3
type=rect
x=0
y=0
buttontype=normal
width=448
height=28
fill=no
colour=0x6F6250
overcolour=0xFFFFFF
option=Make

[t3model]
layer=row3
type=model
x=4
y=0
width=34
height=28
model=obj_tab_enchant_sapphire
zoom=465
xan=373
yan=0

[t3name]
layer=row3
type=text
x=42
y=7
width=126
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[t3need]
layer=row3
type=text
x=172
y=8
width=200
height=13
font=p11_full
shadowed=yes
text=
colour=0xFFFF00

[t3lvl]
layer=row3
type=text
x=376
y=7
width=68
height=14
center=yes
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row4]
type=layer
x=26
y=182
width=448
height=28
scroll=0

[t4box]
layer=row4
type=rect
x=0
y=0
buttontype=normal
width=448
height=28
fill=no
colour=0x6F6250
overcolour=0xFFFFFF
option=Make

[t4model]
layer=row4
type=model
x=4
y=0
width=34
height=28
model=obj_tab_enchant_sapphire
zoom=465
xan=373
yan=0

[t4name]
layer=row4
type=text
x=42
y=7
width=126
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[t4need]
layer=row4
type=text
x=172
y=8
width=200
height=13
font=p11_full
shadowed=yes
text=
colour=0xFFFF00

[t4lvl]
layer=row4
type=text
x=376
y=7
width=68
height=14
center=yes
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row5]
type=layer
x=26
y=212
width=448
height=28
scroll=0

[t5box]
layer=row5
type=rect
x=0
y=0
buttontype=normal
width=448
height=28
fill=no
colour=0x6F6250
overcolour=0xFFFFFF
option=Make

[t5model]
layer=row5
type=model
x=4
y=0
width=34
height=28
model=obj_tab_enchant_sapphire
zoom=465
xan=373
yan=0

[t5name]
layer=row5
type=text
x=42
y=7
width=126
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[t5need]
layer=row5
type=text
x=172
y=8
width=200
height=13
font=p11_full
shadowed=yes
text=
colour=0xFFFF00

[t5lvl]
layer=row5
type=text
x=376
y=7
width=68
height=14
center=yes
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row6]
type=layer
x=26
y=242
width=448
height=28
scroll=0

[t6box]
layer=row6
type=rect
x=0
y=0
buttontype=normal
width=448
height=28
fill=no
colour=0x6F6250
overcolour=0xFFFFFF
option=Make

[t6model]
layer=row6
type=model
x=4
y=0
width=34
height=28
model=obj_tab_enchant_sapphire
zoom=465
xan=373
yan=0

[t6name]
layer=row6
type=text
x=42
y=7
width=126
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[t6need]
layer=row6
type=text
x=172
y=8
width=200
height=13
font=p11_full
shadowed=yes
text=
colour=0xFFFF00

[t6lvl]
layer=row6
type=text
x=376
y=7
width=68
height=14
center=yes
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[row7]
type=layer
x=26
y=272
width=448
height=28
scroll=0

[t7box]
layer=row7
type=rect
x=0
y=0
buttontype=normal
width=448
height=28
fill=no
colour=0x6F6250
overcolour=0xFFFFFF
option=Make

[t7model]
layer=row7
type=model
x=4
y=0
width=34
height=28
model=obj_tab_enchant_sapphire
zoom=465
xan=373
yan=0

[t7name]
layer=row7
type=text
x=42
y=7
width=126
height=14
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[t7need]
layer=row7
type=text
x=172
y=8
width=200
height=13
font=p11_full
shadowed=yes
text=
colour=0xFFFF00

[t7lvl]
layer=row7
type=text
x=376
y=7
width=68
height=14
center=yes
font=p12_full
shadowed=yes
text=
colour=0xFFFFFF

[more]
type=layer
x=130
y=301
width=110
height=16
scroll=0

[morebtn]
layer=more
type=text
x=0
y=0
buttontype=normal
width=110
height=16
center=yes
font=b12_full
shadowed=yes
text=More
colour=0xFF9040
overcolour=0xFFFFFF
option=More

[cancel]
type=text
x=272
y=301
buttontype=normal
width=110
height=16
center=yes
font=b12_full
shadowed=yes
text=Cancel
colour=0xFF9040
overcolour=0xFFFFFF
option=Cancel
