[sword_left]
type=graphic
x=2
y=5
width=57
height=13
graphic=sworddecor,1

[sword_right]
type=graphic
x=421
y=5
width=57
height=13
graphic=sworddecor,0

[title]
type=text
x=0
y=1
width=479
height=13
center=yes
font=q8_full
colour=0x800000
text=Choose what to build

[model1]
type=model
x=18
y=16
width=64
height=52
zoom=560

[name1]
type=text
x=5
y=70
width=90
height=13
center=yes
font=q8_full
shadowed=yes
buttontype=normal
overcolour=0x00C000
colour=0xFFFFFF

[need1]
type=text
x=5
y=84
width=90
height=12
center=yes
font=p11_full
colour=0xB0B0B0

[model2]
type=model
x=112
y=16
width=64
height=52
zoom=560

[name2]
type=text
x=99
y=70
width=90
height=13
center=yes
font=q8_full
shadowed=yes
buttontype=normal
overcolour=0x00C000
colour=0xFFFFFF

[need2]
type=text
x=99
y=84
width=90
height=12
center=yes
font=p11_full
colour=0xB0B0B0

[model3]
type=model
x=206
y=16
width=64
height=52
zoom=560

[name3]
type=text
x=193
y=70
width=90
height=13
center=yes
font=q8_full
shadowed=yes
buttontype=normal
overcolour=0x00C000
colour=0xFFFFFF

[need3]
type=text
x=193
y=84
width=90
height=12
center=yes
font=p11_full
colour=0xB0B0B0

[model4]
type=model
x=300
y=16
width=64
height=52
zoom=560

[name4]
type=text
x=287
y=70
width=90
height=13
center=yes
font=q8_full
shadowed=yes
buttontype=normal
overcolour=0x00C000
colour=0xFFFFFF

[need4]
type=text
x=287
y=84
width=90
height=12
center=yes
font=p11_full
colour=0xB0B0B0

[model5]
type=model
x=394
y=16
width=64
height=52
zoom=560

[name5]
type=text
x=381
y=70
width=90
height=13
center=yes
font=q8_full
shadowed=yes
buttontype=normal
overcolour=0x00C000
colour=0xFFFFFF

[need5]
type=text
x=381
y=84
width=90
height=12
center=yes
font=p11_full
colour=0xB0B0B0

[more]
type=text
x=118
y=101
width=110
height=13
center=yes
font=q8_full
buttontype=normal
overcolour=0x00C000
colour=0xFF9040
text=More...
option=More

[cancel]
type=text
x=252
y=101
width=110
height=13
center=yes
font=q8_full
buttontype=normal
overcolour=0x00C000
colour=0xFF9040
text=Cancel
option=Cancel
