// 474's combat_claw tab (474 interface 78), ported by LostCityServer tools/models/portcombat474.py -
// regenerate it rather than editing by hand. Style buttons keep the content's names; the
// special attack energy bar is the content's own; auto_retaliate is 474's new button.
type=overlay

[name]
type=text
x=4
y=4
width=180
height=17
center=yes
font=q8_full
shadowed=yes
text=%1
colour=0xFF981F

[com_1]
type=layer
x=4
y=40
width=180
height=163

[claw0]
type=graphic
layer=com_1
x=16
y=5
buttontype=select
script1op1=pushvar,com_mode
script1=eq,0
width=70
height=46
graphic=i474_653,0
activegraphic=i474_654,0
option=Chop

[claw3]
type=graphic
layer=com_1
x=99
y=58
buttontype=select
script1op1=pushvar,com_mode
script1=eq,3
width=70
height=46
graphic=i474_653,0
activegraphic=i474_654,0
option=Block

[claw2]
type=graphic
layer=com_1
x=16
y=58
buttontype=select
script1op1=pushvar,com_mode
script1=eq,2
width=70
height=46
graphic=i474_653,0
activegraphic=i474_654,0
option=Lunge

[claw1]
type=graphic
layer=com_1
x=100
y=5
buttontype=select
script1op1=pushvar,com_mode
script1=eq,1
width=70
height=46
graphic=i474_653,0
activegraphic=i474_654,0
option=Slash

[com_6]
type=graphic
layer=com_1
x=36
y=10
width=34
height=24
graphic=i474_279,0

[com_7]
type=graphic
layer=com_1
x=118
y=10
width=34
height=24
graphic=i474_278,0

[com_8]
type=graphic
layer=com_1
x=36
y=63
width=34
height=24
graphic=i474_277,0

[com_9]
type=graphic
layer=com_1
x=118
y=63
width=34
height=24
graphic=i474_280,0

[specbar_layer]
type=layer
x=19
y=205
width=158
height=64
hide=yes

[specbar]
type=rect
layer=specbar_layer
x=0
y=1
buttontype=normal
width=155
height=22
trans=255
colour=0xFFFF00
option=Use @gre@Special Attack

[com_11]
type=graphic
layer=specbar_layer
x=2
y=0
width=150
height=26
graphic=i474_657,0

[energy0]
layer=specbar_layer
type=model
x=3
y=10
width=146
height=9
model=com_i3
zoom=1153
xan=500

[energy1]
layer=specbar_layer
type=model
x=1
y=10
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,99
model=com_i4
zoom=1153
xan=500

[energy2]
layer=specbar_layer
type=model
x=16
y=10
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,199
model=com_i4
zoom=1153
xan=500

[energy3]
layer=specbar_layer
type=model
x=31
y=10
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,299
model=com_i4
zoom=1153
xan=500

[energy4]
layer=specbar_layer
type=model
x=45
y=10
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,399
model=com_i4
zoom=1153
xan=500

[energy5]
layer=specbar_layer
type=model
x=59
y=10
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,499
model=com_i4
zoom=1153
xan=500

[energy6]
layer=specbar_layer
type=model
x=73
y=10
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,599
model=com_i4
zoom=1153
xan=500

[energy7]
layer=specbar_layer
type=model
x=88
y=10
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,699
model=com_i4
zoom=1153
xan=500

[energy8]
layer=specbar_layer
type=model
x=102
y=10
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,799
model=com_i4
zoom=1153
xan=500

[energy9]
layer=specbar_layer
type=model
x=116
y=10
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,899
model=com_i4
zoom=1153
xan=500

[energy10]
layer=specbar_layer
type=model
x=130
y=10
width=146
height=9
script1op1=pushvar,sa_energy
script1=gt,999
model=com_i4
zoom=1153
xan=500

[com_24]
type=text
layer=specbar_layer
x=18
y=8
script1op1=pushvar,sa_attack
script1=gt,0
width=117
height=11
font=p11_full
text=S P E C I A L  A T T A C K
colour=0x000010
activetext=@yel@S P E C I A L  A T T A C K

[com_37]
type=8
layer=specbar_layer
x=0
y=0
width=159
height=19
text=Select to perform\na special attack

[combat_level]
type=text
x=4
y=25
script1op1=op8
width=180
height=12
center=yes
font=p11_full
shadowed=yes
text=Combat Lvl: %1
colour=0xFF981F

[auto_retaliate]
type=graphic
x=21
y=152
buttontype=normal
script1op1=pushvar,option_nodef
script1=eq,0
width=150
height=46
graphic=i474_655,0
activegraphic=i474_656,0
option=Auto Retaliate

[com_27]
type=text
x=20
y=75
width=70
height=13
center=yes
font=p11_full
shadowed=yes
text=Chop
colour=0xFF981F

[com_28]
type=text
x=104
y=75
width=70
height=13
center=yes
font=p11_full
shadowed=yes
text=Slash
colour=0xFF981F

[com_29]
type=text
x=20
y=128
width=70
height=13
center=yes
font=p11_full
shadowed=yes
text=Lunge
colour=0xFF981F

[com_30]
type=text
x=103
y=128
width=70
height=13
center=yes
font=p11_full
shadowed=yes
text=Block
colour=0xFF981F

[com_31]
type=text
x=57
y=161
script1op1=pushvar,option_nodef
script1=eq,0
width=112
height=15
center=yes
font=p12_full
shadowed=yes
text=Auto Retaliate 
colour=0xFF981F
activecolour=0xFF981F
activetext=Auto Retaliate 

[com_31_l1]
type=text
x=57
y=173
script1op1=pushvar,option_nodef
script1=eq,0
width=112
height=15
center=yes
font=p12_full
shadowed=yes
text=(Off)
colour=0xFF981F
activecolour=0xFF981F
activetext=(On)

[com_32]
type=8
x=20
y=45
width=70
height=46
text=(Accurate)\n(Slash)\n(Attack XP)

[com_33]
type=8
x=104
y=45
width=70
height=46
text=(Aggressive)\n(Slash)\n(Strength XP)

[com_34]
type=8
x=20
y=98
width=70
height=47
text=(Controlled)\n(Stab)\n(Shared XP)

[com_35]
type=8
x=102
y=98
width=70
height=47
text=(Defensive)\n(Slash)\n(Defence XP)

[com_36]
type=8
x=22
y=153
width=150
height=46
text=When active your player\nwill automatically fight\nback if attacked
