// 474's Options tab (474 interface 261), converted by LostCityServer tools/models/port474if.py and
// named by what each part is. Run moved here from the old controls tab, as it did in 474; auto
// retaliate went to the combat tabs and emotes to a tab of their own (emotes.if).
// Scripts: interface_options/scripts/game_options.rs2.
type=overlay

[run]
type=graphic
x=75
y=206
buttontype=toggle
script1op1=pushvar,option_run
script1=eq,1
width=40
height=40
graphic=i474_761,0
activegraphic=i474_762,0
option=Toggle Run

[chat_effects]
type=graphic
x=75
y=152
buttontype=toggle
script1op1=pushvar,option_chat
script1=eq,0
width=40
height=40
graphic=i474_761,0
activegraphic=i474_762,0
option=Toggle Chat Effects

[split_pm]
type=graphic
x=131
y=152
buttontype=toggle
script1op1=pushvar,option_pm
script1=eq,1
width=40
height=40
graphic=i474_761,0
activegraphic=i474_762,0
option=Toggle Split Private Chat

[mouse]
type=graphic
x=19
y=152
buttontype=toggle
script1op1=pushvar,option_mouse
script1=eq,0
width=40
height=40
graphic=i474_761,0
activegraphic=i474_762,0
option=Toggle number of Mouse Buttons

[accept_aid]
type=graphic
x=19
y=206
buttontype=toggle
script1op1=pushvar,option_aid
script1=lt,2
width=40
height=40
graphic=i474_761,0
activegraphic=i474_762,0
option=Toggle Accept Aid

[house_options]
type=graphic
x=131
y=206
buttontype=normal
width=40
height=40
graphic=i474_761,0
activegraphic=i474_762,0
option=Open House Options

[brightness_icon]
type=graphic
x=9
y=8
width=32
height=32
graphic=i474_659,0

[brightness_1]
type=graphic
x=49
y=16
buttontype=select
script1op1=pushvar,option_brightness
script1=eq,1
width=32
height=16
graphic=i474_679,0
activegraphic=i474_683,0
option=Adjust Screen Brightness

[brightness_2]
type=graphic
x=81
y=16
buttontype=select
script1op1=pushvar,option_brightness
script1=eq,2
width=32
height=16
graphic=i474_680,0
activegraphic=i474_684,0
option=Adjust Screen Brightness

[brightness_3]
type=graphic
x=113
y=16
buttontype=select
script1op1=pushvar,option_brightness
script1=eq,3
width=32
height=16
graphic=i474_681,0
activegraphic=i474_685,0
option=Adjust Screen Brightness

[brightness_4]
type=graphic
x=145
y=16
buttontype=select
script1op1=pushvar,option_brightness
script1=eq,4
width=32
height=16
graphic=i474_682,0
activegraphic=i474_686,0
option=Adjust Screen Brightness

[music_4]
type=graphic
x=49
y=53
buttontype=select
script1op1=pushvar,option_music
script1=eq,4
width=26
height=16
graphic=i474_692,0
activegraphic=i474_687,0
option=Adjust Music Volume

[music_3]
type=graphic
x=75
y=53
buttontype=select
script1op1=pushvar,option_music
script1=eq,3
width=26
height=16
graphic=i474_693,0
activegraphic=i474_688,0
option=Adjust Music Volume

[music_2]
type=graphic
x=101
y=53
buttontype=select
script1op1=pushvar,option_music
script1=eq,2
width=26
height=16
graphic=i474_694,0
activegraphic=i474_689,0
option=Adjust Music Volume

[music_1]
type=graphic
x=127
y=53
buttontype=select
script1op1=pushvar,option_music
script1=eq,1
width=26
height=16
graphic=i474_695,0
activegraphic=i474_690,0
option=Adjust Music Volume

[music_0]
type=graphic
x=153
y=53
buttontype=select
script1op1=pushvar,option_music
script1=eq,0
width=26
height=16
graphic=i474_696,0
activegraphic=i474_691,0
option=Adjust Music Volume

[sound_4]
type=graphic
x=49
y=89
buttontype=select
script1op1=pushvar,option_sounds
script1=eq,4
width=26
height=16
graphic=i474_692,0
activegraphic=i474_687,0
option=Adjust Sound Effect Volume

[sound_3]
type=graphic
x=75
y=89
buttontype=select
script1op1=pushvar,option_sounds
script1=eq,3
width=26
height=16
graphic=i474_693,0
activegraphic=i474_688,0
option=Adjust Sound Effect Volume

[sound_2]
type=graphic
x=101
y=89
buttontype=select
script1op1=pushvar,option_sounds
script1=eq,2
width=26
height=16
graphic=i474_694,0
activegraphic=i474_689,0
option=Adjust Sound Effect Volume

[sound_1]
type=graphic
x=127
y=89
buttontype=select
script1op1=pushvar,option_sounds
script1=eq,1
width=26
height=16
graphic=i474_695,0
activegraphic=i474_690,0
option=Adjust Sound Effect Volume

[sound_0]
type=graphic
x=153
y=89
buttontype=select
script1op1=pushvar,option_sounds
script1=eq,0
width=26
height=16
graphic=i474_696,0
activegraphic=i474_691,0
option=Adjust Sound Effect Volume

[split_pm_icon]
type=graphic
x=136
y=155
width=32
height=33
graphic=i474_664,0

[chat_effects_icon]
type=graphic
x=78
y=156
width=32
height=33
graphic=i474_662,0

[mouse_icon]
type=graphic
x=23
y=158
width=32
height=33
graphic=i474_663,0

[accept_aid_icon]
type=graphic
x=23
y=211
width=32
height=33
graphic=i474_665,0

[music_icon]
type=graphic
x=9
y=45
script1op1=pushvar,option_music
script1=eq,4
width=32
height=32
graphic=i474_660,0
activegraphic=i474_666,0

[sound_icon]
type=graphic
x=9
y=81
script1op1=pushvar,option_sounds
script1=eq,4
width=32
height=32
graphic=i474_661,0
activegraphic=i474_667,0

[run_energy]
type=text
x=74
y=228
script1op1=runenergy
width=42
height=15
center=yes
font=p12_full
shadowed=yes
text=%1%
colour=0xFF9800

[run_icon]
type=graphic
x=86
y=210
width=27
height=34
graphic=i474_677,0

[area_4]
type=graphic
x=49
y=126
buttontype=select
script1op1=pushvar,option_areasounds
script1=eq,4
width=26
height=16
graphic=i474_692,0
activegraphic=i474_687,0
option=Adjust Area Sound Effect Volume

[area_3]
type=graphic
x=75
y=126
buttontype=select
script1op1=pushvar,option_areasounds
script1=eq,3
width=26
height=16
graphic=i474_693,0
activegraphic=i474_688,0
option=Adjust Area Sound Effect Volume

[area_2]
type=graphic
x=101
y=126
buttontype=select
script1op1=pushvar,option_areasounds
script1=eq,2
width=26
height=16
graphic=i474_694,0
activegraphic=i474_689,0
option=Adjust Area Sound Effect Volume

[area_1]
type=graphic
x=127
y=126
buttontype=select
script1op1=pushvar,option_areasounds
script1=eq,1
width=26
height=16
graphic=i474_695,0
activegraphic=i474_690,0
option=Adjust Area Sound Effect Volume

[area_0]
type=graphic
x=153
y=126
buttontype=select
script1op1=pushvar,option_areasounds
script1=eq,0
width=26
height=16
graphic=i474_696,0
activegraphic=i474_691,0
option=Adjust Area Sound Effect Volume

[area_icon]
type=graphic
x=9
y=118
script1op1=pushvar,option_areasounds
script1=eq,4
width=32
height=32
graphic=i474_673,0
activegraphic=i474_674,0

[house_icon]
type=graphic
x=136
y=211
width=32
height=32
graphic=i474_676,0

[brightness_tip]
type=8
x=9
y=8
width=32
height=32
text=Adjust Screen Brightness

[music_tip]
type=8
x=9
y=45
width=32
height=32
text=Adjust Music Volume

[sound_tip]
type=8
x=9
y=81
width=32
height=32
text=Adjust Sound Effect Volume

[area_tip]
type=8
x=9
y=117
width=32
height=32
text=Adjust Area Sound Volume

[house_tip]
type=8
x=131
y=206
width=40
height=40
text=House Options

[run_on]
type=layer
x=16
y=149
width=155
height=100

[run_on_tip]
type=8
layer=run_on
x=59
y=58
script1op1=runenergy
width=41
height=40
text=Run (on) Energy %1%

[run_off]
type=layer
x=16
y=149
width=155
height=100
hide=yes

[run_off_tip]
type=8
layer=run_off
x=58
y=56
script1op1=runenergy
width=41
height=40
text=Run (off) Energy %1%

[chat_effects_on]
type=layer
x=16
y=149
width=155
height=100

[chat_effects_on_tip]
type=8
layer=chat_effects_on
x=59
y=3
width=40
height=40
text=Chat Effects\n(currently on)

[chat_effects_off]
type=layer
x=16
y=149
width=155
height=100
hide=yes

[chat_effects_off_tip]
type=8
layer=chat_effects_off
x=59
y=3
width=40
height=40
text=Chat Effects\n(currently off)

[split_pm_on]
type=layer
x=16
y=149
width=155
height=100

[split_pm_on_tip]
type=8
layer=split_pm_on
x=115
y=3
width=40
height=40
text=Split Private Chat\n(currently on)

[split_pm_off]
type=layer
x=16
y=149
width=155
height=100
hide=yes

[split_pm_off_tip]
type=8
layer=split_pm_off
x=115
y=3
width=40
height=40
text=Split Private Chat\n(currently off)

[mouse_two]
type=layer
x=16
y=149
width=155
height=100

[mouse_two_tip]
type=8
layer=mouse_two
x=2
y=2
width=41
height=41
text=Mouse buttons\n(currently 2)

[mouse_one]
type=layer
x=16
y=149
width=150
height=100
hide=yes

[mouse_one_tip]
type=8
layer=mouse_one
x=1
y=3
width=41
height=41
text=Mouse buttons\n(currently 1)

[accept_aid_on]
type=layer
x=16
y=149
width=155
height=100

[accept_aid_on_tip]
type=8
layer=accept_aid_on
x=2
y=57
width=39
height=40
text=Accept Aid (currently on)

[accept_aid_off]
type=layer
x=16
y=149
width=155
height=100
hide=yes

[accept_aid_off_tip]
type=8
layer=accept_aid_off
x=3
y=57
width=39
height=40
text=Accept Aid (currently off)
